.positions {
  width: 100%;
  min-width: 1460px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.positions-container {
  flex: 1;
}

.no-data {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  overflow: hidden;
  display: block;
}

.no-data-wrapper {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  color: $white;
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
  line-height: 1.4;

  :global {
    .icon-icon-positions,
    .icon-icon-orders {
      color: $gray;
      font-size: 60px;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  padding: 6px 10px;
  border-bottom: 1px solid $mineShaft;
  align-items: center;
  ._active {
    background-color: $mineShaft;
  }
}

.row-group{
  z-index:9999;
  background: #181818;
}
.orders {
  min-width: 1100px;

  .row {}

  .cell,
  .header {
    display: table-cell;
    padding: 8px;
  }
}

.cell {
  color: white;
}

.cell,
.header {
  display: flex;
  flex-grow: 1.3;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
  vertical-align: middle;
  overflow: hidden;
  text-align: left;
  &:first-child{
    justify-content: flex-start;
    flex-grow: 2;
  }
}

.cell._instrument,
.header._instrument {
  flex-grow: 2;
  justify-content: flex-start;
  text-align: left;
}

.cell._stop,
.header._stop,
.cell._limit,
.header._limit {
  justify-content: center;
}

.cell._stop,
.header._stop {
  padding-left: 30px;
}

.cell._limit,
.header._limit {
  padding-right: 30px;
}

.cell._buttonfirst,
.header._buttonfirst {
  padding-left: 3.5%;
  flex-grow: 1;
}
.header._buttonfirst.grow{
  flex-grow: 1.5;
}
.cell._buttonfirst .gui-button,
.header._buttonfirst .gui-button {
  flex-grow: 1;
}

.cell._last,
.header._last {
  flex-grow: 0.3;
}

.cell-cell,
.header-cell {
  color: $white;
}

.header-wrap {
  color: #888888;
  font-size: 14px;
}

.child-cell {
  padding: 0;
}

.plus-minus {
  color: white;
  cursor: pointer;
  margin-right: 3px;
}

.meta-value,
.simple-value {
  font-size: 14px;
}

.meta-value.small,
.simple-value.small {
  font-size: 12px;
}

.meta-value.negative {
  color: $scarlet;
}

.meta-value.positive {
  color: $salem;
}

.category,
.position {
  width: 100%;
}

.instrument {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.instrument-text {
  margin-right: 4px;
  word-break: break-all;
}

.instrument-count {
  color: $gray;
  font-size: 16px;
}

.position {
  .instrument {
    padding-left: 10px;
  }

  .plus-minus {
    margin-right: 5px;
  }

  .instrument-label {
    margin-right: 5px;
  }

  .text {
    font-size: 14px;
    margin-right: 5px;
  }

  .deals-count {
    color: $gray;
    font-size: 14px;
  }
}

.button-add {
  padding: 6px 0;
}

.button-close {
  padding: 6px 10px;
}

.button-info {
  padding: 6px 0;
}

.instrument-category {
  padding-right: 8px;
}

.orders-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

:global(._light-theme) {
  .no-data {
    :global(.icon-icon-positions) {
      color: $alto;
    }

    p {
      color: $tundora;
    }
  }

  .category,
  .position {
    .instrument-text {
      color: $tundora;
    }
  }

  .simple-value,
  .meta-value {
    color: $tundora;

    &._negative {
      color: $scarlet;
    }

    &._positive {
      color: $salem;
    }
  }

  .row {
    border-bottom: 1px solid white;

    &._active {
      background-color: white;
    }
  }

  .instrument {
    color: $tundora;
  }

  .plus-minus {
    color: $tundora;
  }

  .cell {
    color: $tundora;
  }
  &.row-group{
    background: $concrete;
  }
}
.unread{
  /*min-width:20px;*/
  padding:2px 6px 0;
  height:20px;
  background: $scarlet;
  border-radius: 20px;
  margin-left:2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: $white;
}
