.btn-group {
  height: 30px;
  border: 1px solid $tundora;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.input-label {
  flex: 1;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid $tundora;

&:last-child {
   border-right: 0;
 }


input {
  display: none;
}

&.active {
   background: $tundora;
 }
}

:global(._light-theme) {
  .btn-group , .input-label{
    border-color: $silver;
  }
  .input-label.active{
    background: $silver;
  }
}
