.widget {
  width: 100%;
  height: 100%;
  padding: 25px 3px 3px;
  overflow: hidden;
  position: relative;
  background: $mineShaft;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  vertical-align: top;
}

.container {
  width: 100%;
  height: 100%;
}

.widget-navigation {
  top: 0;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: center;
  user-select: none;
  width: calc(100% - 20px);
  margin-left: -3px;
}

.widget-component {
  height: 100%;
  overflow: auto;
  background: $baseCodeGray;
}

.navigation-handle {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navigation-button {
  color: $white;
  display: flex;
  font-size: 16px;
  font-family: Lato;
  cursor: pointer;
  height: 100%;
  padding: 0 9px 2px;
  line-height: 100%;

  &._active {
    color: $widgetTitleColor;
    background: $white;
    font-weight: bold;
    margin-top: -1px;
  }
}

.navigation-note {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Lato;
  font-size: 10px;
  color: $gray;
}

:global(._light-theme) {
  .widget {
    background: white;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  }

  .widget-component {
    background: $concrete;
  }

  .navigation-button {
    color: $tundora;

    &._active {
      color: $white;
      background: $tundora;
    }
  }
}
