.radio-button {
  color: $white;
  border: 1px solid $tundora;
  border-radius: 5px;
  margin-left: 8px;
  font-family: Lato;
  font-weight: 700;
  font-size: 12px;
  width: 36px;
  height: 28px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    background-color: $tundora;
  }

  &:hover {
    cursor: pointer;
  }
}

:global(._light-theme) {
  .radio-button {
    color: $tundora;
    border-color: $silver;

    &.active {
      background-color: $silver;
    }
  }
}
