.profile-account-details{
  border-left: solid 1px $mineShaftDark;
}
.profile-account-details-img,
.profile-account-details-info {
  vertical-align: middle;
}

.profile-account-details-img {
  width: 30px;
  height: 30px;
  margin-right:10px;
  border-radius: 50%;
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.profile-account-details-info-fullname {
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;

  :global(.icon-icon-dropdown-arrow) {
    font-size: 8px;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 1px;
  }
}

.profile-account-details-info-account-type,
.profile-account-details-info-logout {
  color: $gray;
  font-size: 13px;
}

.profile-account-details-info-account-type {
  margin-bottom: 1px;
}

.profile-account-details-info-logout {
  align-items: center;
  font-family: Lato;
  font-weight: 700;
  transition: color 0.2s ease-in;
  font-size: 16px;
  &:hover {
    color: $white;
  }
  &:active {
    color: $gray;
  }
}

.profile-account-details-info-logout-text {
  margin-right: 4px;
}

.profile-account-details {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  height: $header_height;
}

.profile-account-details-info {
  border-right: solid 1px $mineShaftDark;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  &:hover,
  &.active {
    background: #202020;
  }
}

.profile-account-details-logout {
  display: flex;
  margin-right: -20px;
  padding: 0 13px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #202020;
  }
}

.popup-opened {
  transform: rotate(180deg);
}

.profile-account-selector-dropdown {
  position: absolute;
  top: $header_height;
  width: 280px;
  background: red;
  padding: 14px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: $baseCodeGray;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  border: solid 1px $mineShaftDark;
  z-index: 10000;
  right: 80px;
}

:global(._light-theme) {
  .profile-account-details{
    border-left: solid 1px $gallery;
  }
  .profile-account-details-info {
    border-right: solid 1px $gallery;
    &:hover,
    &.active {
      background: $gallery;
    }
  }
  .profile-account-details-logout {
    &:hover,
    &.active {
      background: $gallery;
    }
  }
  .profile-account-details-info-fullname {
    color: $tundora;
  }
  .profile-account-details-info-account-type,
  .profile-account-details-info-logout {
    color: $doveGray;
  }
  .profile-account-details-info-logout {
    &:hover {
      color: $tundora;
    }
    &:active {
      color: $doveGray;
    }
  }
  .profile-account-details-img {
    background: $silver;
  }
  .profile-account-selector-dropdown {
    background: $alebaster;
    box-shadow: 0 2px 6px 2px rgba(128, 128, 128, 0.1);
    border: solid 1px $seashell;
  }
}
