


.info {
	color: $white;
	display: flex;
	flex-wrap: wrap;
	padding: 9px 0;
	border-bottom: 1px solid border_color;
	justify-content: space-around;
	min-height: 62px;
}

.row-wrapper {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.slot {
	flex-grow: 1;
	flex-basis: 1px;
	text-align: center;
	padding: 0 8px;

    .text {
      color: $gray;
      font-size: 14px;
      margin-bottom: 4px;
	    white-space: nowrap;
    }

    .number {
        font-size: 14px;

        .small,
        .big {
            vertical-align: top;
        }

        .small {
            font-size: 10px;
        }

        .big {
            font-size: 14px;
        }

        &._positive {
            color: $salem !important;
        }

        &._negative {
            color: $scarlet !important;
        }
    }
}

:global(._light-theme) {
    .slot {
        .number {
            color: $tundora;
        }

        .text {
          color: $doveGray;
        }
    }
}
