.required-mark, :global(.required-mark) {
  color: red;
}


.form-element-wrapper {
  &.multi-row {
    align-items: flex-start;

    .label-wrapper {
      padding: 0;
      margin-top: -2px;
    }
  }

  &.new-line {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    .label-wrapper {
      text-align: left;
    }
  }
}

.label-wrapper {
  flex: 1;
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $gray;
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.no-label-checkbox {
  margin-left: auto;
}

.input-inner {
  margin: 10px 0 0 -10px;
}

.input-error-text {
  color: red;
  margin: 10px 0 5px;
  font-size: 16px;
}

.input-wrapper {
  margin-left: auto;
  font-size: 15px;

  & > div {
    display: inline-block;
    width: 100%;

    input {
      width: 100%;
      height: 30px;
      padding-right: 50px;
      color: $white;
    }

    &.btn-group-container {
      display: flex;
      flex-direction: row;
    }

    &.radio-group-inner {
      height: auto;
      width: 425px;
      margin-left: auto;
    }

    &.date-range-picker {
      display: flex;
    }
  }

  :global {
    .Select-control {
      border: 0;
      background-color: rgba(255, 255, 255, 0.1);
      height: 100%;

      .Select-input > input {
        padding: 0;
      }

      .Select-value {
        line-height: 30px;
      }
    }
  }

  &.radio-group, &.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &.multi-row, .multi-row {
    flex-direction: column;
    height: auto;
    display: flex;

    .radio-group-label {
      margin-bottom: 12px;
      margin-top: 0;
    }
  }

  &.large {
    width: 400px;
  }

  &.new-line, .new-line {
    margin: 20px 0;
    width: 100%;
    height: auto;
  }

  &.mini {
    width: 310px;
  }

  &.micro {
    width: 171px;

    :global(.react-datepicker-popper) {
      min-width: 250px;
      left: -70px !important;

      :global(.react-datepicker__triangle) {
        margin-left: 135px !important;
      }
    }
  }
}

.has-postfix {
  position: relative;
}

:global {
  .react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
    height: 100%;
  }

  .react-datepicker-wrapper {
    position: relative;
  }
}

.form-input, :global(cr__input-container input) {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 50px 0 10px;
}

textarea.form-input {
  min-height: 100px;
  padding: 10px;
  font-family: Lato;
  outline: none;
}

.input-icon {
  display: inline-block;
  margin-left: -28px;
  color: $white;
}

:global(._light-theme) {
  .label-wrapper {
    color: $tundora;
  }

  .form-input, :global(.react-datepicker__input-container input) {
    background-color: rgba(90, 90, 90, 0.1);
  }

  :global(.react-datepicker select) {
    background-color: rgba(90, 90, 90, 0.1);
  }

  .input-wrapper {
    > div {
      input {
        color: $tundora;
      }
    }
  }

  .input-icon {
    color: $tundora;
  }
}
