.form-group {
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;


    &:last-of-type {
        margin-bottom: 0;
    }

    &.no__last {
        margin-bottom: 30px;
    }

    &.column {
        flex-direction: column;
    }
}

.cell {
	display: flex;
	width: 100%;
	padding-left: 2.5px;
	padding-right: 2.5px;
	justify-content: center;

    &.single {
        padding: 0;
    }

    &.first {
        padding-left: 0;
        padding-right: 5px;
        justify-content: flex-start;
    }

    &.last {
        padding-left: 5px;
        padding-right: 0;
        justify-content: flex-end;
    }
}

