@font-face {
    font-family: "lato";
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/lato/Lato-Light.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: "lato";
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/lato/Lato-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "lato";
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/lato/Lato-Italic.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "lato";
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/lato/Lato-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Menlo-Bold";
    src: url('../assets/fonts/Menlo-Bold.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "unity-icons";
    src: url('unity-frontend-core/fonts/unity-icons.eot?60363472');
    src: url('unity-frontend-core/fonts/unity-icons.eot?60363472#iefix') format('embedded-opentype'),
        url('unity-frontend-core/fonts/unity-icons.woff?60363472') format('woff'),
        url('unity-frontend-core/fonts/unity-icons.ttf?60363472') format('truetype');
    font-weight: normal;
    font-style: normal;
}
