/**
* React Select
* ============
* Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
* https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
* MIT License: https://github.com/JedWatson/react-select
*/

:global {
  @keyframes Select-animation-spin {
    to {
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes Select-animation-spin {
    to {
      -webkit-transform: rotate(1turn);
    }
  }

  .Select {
    position: relative;
  }

  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .Select.is-disabled > .Select-control {
    background-color: $baseCodeGray;
    border-color: $darkGray;
  }

  .Select.is-disabled > .Select-control:hover {
    box-shadow: none;
  }

  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
  }

  .Select-control {
    background-color: $baseCodeGray;
    border-color: #5a5a5a $tundora #343434;
    border-radius: 4px;
    border: 1px solid $tundora;
    color: white;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 29px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }

  .Select-control .Select-input:focus {
    outline: none;
  }

  .is-searchable.is-open > .Select-control {
    cursor: text;
  }

  .is-open > .Select-control {
    background: $baseCodeGray;
    border-color: #343434 $tundora #5a5a5a;
  }

  .is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }

  .is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
  }

  .is-focused:not(.is-open) > .Select-control {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade($tundora, 50%);
  }

  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: $gray;
    left: 0;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: white;
  }

  .has-value.Select--single > .Select-control .Select-value .Select-value-label > *,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
  }

  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: $tundora;
    outline: none;
    text-decoration: underline;
  }

  .Select-input {
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }

  .Select-input > input {
    color: white;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;

    /* For IE 8 compatibility */

    padding: 5px 0 9px;

    /* For IE 8 compatibility */

    -webkit-appearance: none;
  }

  .is-focused .Select-input > input {
    cursor: text;
  }

  .has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }

  .Select-control:not(.is-searchable) > .Select-input {
    outline: none;
  }

  .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
  }

  .Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid $tundora;
    border-right-color: white;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 14px;
  }

  .Select-clear-zone:hover {
    color: #D0021B;
  }

  .Select-clear {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
  }

  .Select--multi .Select-clear-zone {
    width: 14px;
  }

  .Select--multi .Select-multi-value-wrapper {
    display: inline-block;
  }

  .Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
  }

  .Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }

  .is-open .Select-arrow,
  .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666;
  }

  @-webkit-keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .Select-menu-outer {
    background-color: $baseCodeGray;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100000 !important;
    -webkit-overflow-scrolling: touch;
  }

  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
  }

  .Select-option {
    box-sizing: border-box;
    background-color: $baseCodeGray;
    color: white;
    cursor: pointer;
    display: block;
    padding: 8px 10px;

    &.is-disabled {
      cursor: not-allowed;
    }
  }

  .Select-option.is-selected {
    color: white;
  }

  .Select-option.is-focused {
    background-color: $mineShaft;
    color: white;
  }

  .Select-option.is-disabled {
    border-top: 1px solid #0f0f0f;
    border-bottom: 1px solid #0f0f0f;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Select-option.is-disabled span {
    color: black;
  }

  .Select-option.is-inline > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .Select-noresults {
    box-sizing: border-box;
    color: white;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }

  .Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
  }

  .Select--multi.has-value .Select-input {
    margin-left: 5px;
  }

  .Select--multi .Select-value {
    background-color: #f2f9fc;
    border-radius: 2px;
    border: 1px solid #c9e6f2;
    color: #08c;
    display: inline-block;
    font-size: 0.9em;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
  }

  .Select--multi .Select-value-icon,
  .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
  }

  .Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
  }

  .Select--multi a.Select-value-label {
    color: #08c;
    cursor: pointer;
    text-decoration: none;
  }

  .Select--multi a.Select-value-label:hover {
    text-decoration: underline;
  }

  .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c9e6f2;
    padding: 1px 5px 3px;
  }

  .Select--multi .Select-value-icon:hover,
  .Select--multi .Select-value-icon:focus {
    background-color: #ddeff7;
    color: #0077b3;
  }

  .Select--multi .Select-value-icon:active {
    background-color: #c9e6f2;
  }

  .Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
  }

  .Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
  }

  .Select--multi.is-disabled .Select-value-icon:hover,
  .Select--multi.is-disabled .Select-value-icon:focus,
  .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc;
  }

  @keyframes Select-animation-spin {
    to {
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes Select-animation-spin {
    to {
      -webkit-transform: rotate(1turn);
    }
  }

  ._light-theme {
    .Select-placeholder {
      color: $doveGray;
    }

    .Select.is-disabled > .Select-control {
      background: transparent;
      border-color: $gallery;
    }

    .thumb {
      background-color: $silver !important;
    }

    .Select-control {
      background: transparent;
      border: 1px solid $silver;
    }

    .has-value.Select--single > .Select-control .Select-value .Select-value-label,
    .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
      color: $tundora;
    }

    .Select-menu {
      background: $seashell;
    }

    .Select-menu {
      background: $seashell;
    }

    .Select-option {
      background: transparent;
      color: $tundora;

      &:hover {
        background: $silver;
      }

      &.is-disabled {
        color: $gray;
        border-color: $silver;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .Select-noresults {
      color: $tundora;
    }

    .Select-input > input {
      background: none;
      box-shadow: none;
      color: $doveGray;
    }
  }

  .select-up .Select-menu-outer {
    position: absolute !important;
    top: auto !important;
    bottom: calc(100% - 1px) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }

  .select-up .is-open .Select-control {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }

  .select-up .Select-menu-outer {
    max-height: 140px;
  }

  .select-up .Select-menu {
    max-height: 138px;
  }
}
