
@import "../assets/styles/icomoon.css";
@import './common.css';
@import "./fonts.css";
@import "./select.css";



*, *:after, *:before {
    box-sizing: inherit;
    user-select: none;
}
input, input:after, input:before {
    user-select: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    background: black;
}

body {
    font-family: Lato;
    color: black;
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    min-width: 960px;
}

@media (max-width: 1023px) {
    body {
        min-width: auto;
        min-height: auto;
    }
}

/*
:global {
    .Select-menu-outer {
        z-index: 999999;
    }
}

*/
