.transaction-row, .transactions-date-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $codGray;
  border-bottom: 1px solid $widgetTitleColor;
  padding:12.5px;
}
.transactions-date-row{
  background: transparent;
  font-size: 14px;
  color: $gray;
}
.hide-show{
  margin-right:5px;
  cursor:pointer;
}
.small-cell{
  width:25%;
}
.big-cell{
  width:50%;
}
.text-right{
  text-align: right;
}


.transactions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions-dummy {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.transactions-dummy-text {
  font-size: 18px;
  color: $white;
}

.transactions-dummy-icon {
  font-size: 70px;
  color: $tundora;
  text-align: center;
  display: flex;
  &:before {
     width: 100px;
     text-align: center;
   }
}



.daily-total-amount{
  color: $white;
  font-size: 16px;
  &:after{
    content:', ';
  }
}
.daily-total-amounts{
  & > span:last-child{
    &:after{
       content:'';
    }
  }
}

:global(._light-theme) {
  .transaction-row, .transactions-date-row{
    background:transparent;
    border-bottom: 1px solid $white;
  }
  .transaction-row{
    background: $gallery;
  }
  .transactions-date-row{
    color: $doveGray;
  }
  .daily-total-amount{
    color: $tundora;
  }
  .transactions-dummy-text {
    color: $tundora;
  }
}
