.loader {
  position: absolute;
  width: 100%;
  height: 100%;
}

.no-data {
  display: flex;
  justify-content: center;
  color: $white;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;

  :global(.icon-icon-widget-chart) {
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.news-list {
  display: flex;
  flex: 1;
  flex-flow: column;
  position: relative;
  height: 100%;
}

.news-details-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $baseCodeGray;
}

.news-details-header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  border-top: solid 1px $mineShaftDark;
  border-bottom: solid 1px $mineShaftDark;
}

.news-details-back {
  display: flex;
  align-items: center;
  cursor: pointer;

  i {
    color: $white;
    display: block;
    font-size: 16px;
  }

  span {
    display: block;
    color: $white;
    font-size: 14px;
    font-weight: 500;
  }
}

.news-details-content {
  padding: 20px 10px;
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
  position: relative;
}

:global(._light-theme) {
  .no-data,  {
    color: $doveGray;
  }

  .news-details-back {
    i, span {
      color: $doveGray;
    }
  }

  .news-details-wrapper {
    background-color: $concrete;
  }
}
