

.disclaimer {
	border-bottom: 1px solid border_color;
	display: flex;
	align-items: center;
	padding: 10px;
	color: $white;
	font-size: 14px;
}

.text,
.warning {
	flex-grow: 1;
}

.warning {
	margin-right: 10px;
    font-size: 30px;
    color: #808080;
}

:global(._light-theme) {
    .disclaimer {
        border-bottom: 1px solid white;
        color: $tundora;
    }
}
