.button-range {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.label {
    display: flex;
    justify-content: flex-start;
    color: grey;
    font-size: 12px;
    margin-bottom: 3px;
}

.button {
    flex-grow: 1;
    padding: 0 3px;

    &:first-of-type {
        padding-left: 0;
    }

    &:first-of-type {
        padding-right: 0;
    }
}

.inner {
    font-size: 12px;
    padding: 4px 0 5px 0;
}

.btn {
    width: 100%;
}
