.top-bar-container {
  max-height: 38px;
  flex-direction: row;
}
.top-bar {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    width: 100%;

    .box {
        display: flex;
    }
}


.button-container {
  margin-right: 10px;
}

.add-widget-modal {
  display: flex;
  flex-direction: row;
}
.widgets-list {
  flex: 1;
  width: 400px;
  padding: 0 0 210px 0;
  border-right: 1px solid $widgetTitleColor;
}

.widgets-list-header-container {
  padding: 0 10px 10px;
}

.disabled {
  opacity: 0.5;
}

.instruments-list {

}
.margin-right{
  margin-right:5px;
}
:global(.icon) {
  padding-right: 3px;
}


:global(._light-theme) {
  .widgets-list {
    border-right-color: $white;
  }
}
