.chat{
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.date-row{
  border:1px solid $widgetTitleColor;
  border-right:0;
  border-left:0;
  text-align: center;
  font-size:12px;
  color:$gray;
  padding:7px;
  margin-bottom:10px;
}
.message-row{
  color:$white;
  padding:0 10px;
  margin-bottom:10px;
  &.outbox{
    text-align: right;
  }
  &.inbox .message{
    background: $inboxMessage;
    border-bottom-left-radius:0;
  }
  &.outbox .message{
    background: $tundora;
     border-bottom-right-radius:0;
  }
  & .date{
    margin-top:2px;
    font-size:12px;
    color:$gray;
  }
  &.outbox .date{
    text-align: right;
  }
}
.message{
  max-width:90%;
  display:inline-block;
  padding:9px 9px 11px;
  border-radius: 8px;
}
.footer{
  padding: 10px;
  display: flex;
  justify-content: center;
  /*background-color: $baseCodeGray;*/
  border-top: solid 1px $mineShaft;
  margin-top: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.small-btn{
  height:29px;
  margin-top: 0;
  margin-left:5px;
}
.symbol{
  padding: 0 5px 0 10px;
  font-size: 18px;
  color: $white;
  white-space: nowrap;
  margin:auto 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(._light-theme) {
  .date-row,.footer{
    border-color: $white;
  }
  .message-row{
    color:$tundora;
  }
  .inbox .message{
   background: $alto;
  }
  .outbox .message{
   background: $silver;
  }
  .symbol{
    color:$tundora;
  }
}
