
.footer {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #2a2a2a;
}

.btn {
  width: 182px;
  margin-left: 64px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.formContainer {
  width: 640px;
  min-height: 340px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formContainerTop {
  display: flex;
  flex-direction: column;
}

.sendSmsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.sendSmsButton {
  width: 40%;
}

.selectorContainer {
  padding-top: 9px;
}

:global(._light-theme) {
  .footer {
    border-color: #cccccc;
  }
}
