

.container {
    padding: 10px;
    max-width: 300px;
}

.text {
    margin: 10px 0 20px;
    color: $white;
    text-align: center;
}

.header {
  color: $white;
  text-align: center;
  margin: 10px 0 20px;
}

.buttons {
    display: flex;
    flex-direction: row;

    button {
        flex: 1;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}


:global(._light-theme) {
    .text, .header {
        color: $tundora;
    }
}
