


.time-range {
	padding: 10px;
	border-bottom: 1px solid $mineShaft;
	height: 51px;
}

.time-range__left-box {
	width: 430px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.time-range__text {
	color: #808080;
	font-size: 14px;
}

.time-range__times {
	color: $tundora;
	width: 345px;
	height: 30px;
	border: 1px solid $mineShaft;
	display: flex;
	font-family: Lato;
	font-weight: 700;
	align-items: center;
	border-radius: 4px;
}

.time-range__times__segment {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	border-right: 1px solid $mineShaft;
}

.time-range__times__segment span {
	top: -1px;
	position: relative;
}

.time-range__times__segment._active {
	color: $white;
	background: $tundora;
}

.time-range__times__segment:last-of-type {
	border-right: none;
}
