.text {
  color: $white;
}

.link {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
 /* TODO: use global var instead */
  &:disabled {
    color: #AAAAAA;

    &:hover {
      cursor: not-allowed;
    }
  }
}

:global(._light-theme) {
  .text {
    color: $black;
  }
}
