.group-wrapper {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 14px;
  flex: 1;
}

.label {
  width: 180px;
  line-height: 30px;

  &.error {
    color: $scarlet !important;
  }
  &.disabled{
    color: $tundora;
  }
}

.group {
  flex: 1;
}

.btn-group {
  height: 30px;
  border: 1px solid $tundora;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.input-label {
  flex: 1;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid $tundora;

  &:last-child {
    border-right: 0;
  }

  input {
    display: none;
  }

  &.active {
    background: $tundora;
  }
}

.input-error {
  color: $scarlet;
  margin-top: 3px;
  font-size: 12px;
}

.input-subline {
  color: $white;
  margin-top: 3px;
  font-size: 12px;
  font-style: italic;
}


:global(._light-theme) {
  .group-wrapper {
    color: $tundora;
  }

  .btn-group {
    border-color: $silver;
  }

  .input-label {
    border-right-color: $silver;

    &.active {
      background: $silver;
    }
  }

  .input-subline {
    color: $tundora;
  }
}

:global {
  ._light-theme {
    .redux__field__button__text {
      color: $tundora;
    }
    .disabled{
      color: $alto;
    }
    .redux__field__input {
      color: $tundora;
      border: 1px solid $gray;
      &:disabled{
        border-color: $alto;
        color: $disabledInputBorderLight;
        cursor:not-allowed;
      }
    }

    .redux__field__checkbox-label-wrapper__text {
      color: $tundora;
    }

    .redux__field__file-icon svg {
      fill: $tundora;
    }

    .redux__field__file-icon {
      background-color: $seashell;
    }

    .redux__field__label-wrapper__text {
      color: $doveGray;
    }
  }

  .redux__field__button {
    height: 40px;
    margin-top: 15px;
    border-radius: 4px;
    font-weight: bold;
    background-color: $tundora;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .redux__field__button__text {
    color: $white;
    font-size: 14px;
    text-align: center;
  }

  .redux__field__button__text__disabled {
    color: $gray;
  }

  .redux__field__label-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 7px;
  }

  .redux__field__label-wrapper__text {
    font-size: 12px;
    margin-bottom: 5px;
    color: $white;
  }

  .redux__field__label-wrapper__text.error {
    color: $scarlet !important;
  }

  .redux__field__radio-label-wrapper {
    display: flex;
    line-height: 16px;
    margin-bottom: 9px;
  }

  .redux__field__radio-label-wrapper input {
    width: 16px;
    height: 16px;
  }

  .redux__field__radio-label-wrapper__text {
    font-size: 14px;
    margin-left: 5px;
    padding: 2px;
  }

  .redux__field__checkbox-label-wrapper {
    display: flex;
    align-items: center;
    line-height: 16px;
    margin-bottom: 9px;
  }

  .redux__field__checkbox-label-wrapper input {
    width: 16px;
    height: 16px;
  }

  .redux__field__checkbox-label-wrapper__text {
    font-size: 14px;
    margin-left: 5px;
    padding: 2px;
    color: $white;
  }

  .redux__field__checkbox-label-wrapper__text.error {
    color: $scarlet;
  }

  .disabled{
    color:$tundora;
  }
  .redux__field__input {
    color: $white;
    width: 100%;
    height: 29px;
    border: solid 1px $tundora;
    padding: 0 9px;
    display: flex;
    border-radius: 4px;
    font-size: 14px;
    &:disabled{
       border-color:$darkGray;
       color: $tundora;
       cursor:not-allowed;
    }
  }

  .redux__field__selector-wrapper {
    display: flex;
  }

  .redux__field__selector-wrapper__selector {
    display: flex;
    flex-grow: 3;
  }

  .redux__field__selector-wrapper__selector.error .Select-control {
    border-color: $scarlet;
  }

  .redux__field__selector-wrapper__selector__component {
    width: 100%;
  }

  .redux__field__selector-wrapper__bucket-wrapper {
    display: flex;
    flex-grow: 1;
    padding-left: 5px;
  }

  .redux__field__selector-wrapper__bucket-wrapper:hover {
    cursor: pointer;
  }

  .redux__field__selector-wrapper__bucket-wrapper__bucket {
    width: 100%;
    background: $tundora;
    border-radius: 4px;
    position: relative;
  }

  .redux__field__selector-wrapper__bucket-wrapper__bucket path {
    fill: $white;
  }

  .redux__group__radio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .redux__group__radio-label {
    font-size: 14px;
  }

  .redux__group__radio-label.error {
    color: $scarlet;
  }

  .redux__group__radio-label.required:after {
    content: "*";
    color: $scarlet;
  }

  .redux__group__radio-wrapper {
    display: block;
  }

  .redux__group__checkbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .redux__group__checkbox-label {
    font-size: 14px;
  }

  .redux__group__checkbox-label.error {
    color: $scarlet;
  }

  .redux__group__checkbox-label.required:after {
    content: "*";
    color: $scarlet;
  }

  .redux__group__checkbox-wrapper {
    display: block;
  }

  .redux__field__file {
    display: block;
    margin-top: 20px;
  }

  .redux__field__file-heading {
    font-size: 16px;
    margin-bottom: 11px;
  }

  .redux__field__file-heading.error {
    color: $scarlet;
  }

  .redux__field__file-row {
    display: flex;
    align-items: center;
  }

  .redux__field__file-icon {
    width: 50px;
    height: 50px;
    background-color: $mineShaft;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: $tundora;

    i {
      margin-right: 2px;
      display: block;
    }

    &.loaded {
      background-color: $salem;
      color: $white;
    }
  }

  .redux__field__file-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 30px;
    width: 113px;
    margin-right: 20px;
  }

  .redux__field__file-wrapper button {
    height: 30px;
    width: 113px;
  }

  .redux__field__file-wrapper input {
    font-size: 25px;
    position: absolute;
    left: -151px;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .redux__field__file-text {
    font-size: 14px;
  }
}


:global {
  #app {
    .react-datepicker-popper {
      z-index: 3;
    }

    .react-datepicker__header {
      background: $tundora;
    }

    .react-datepicker {
      background: $codGray;
      border-color: black;
      color: white;

      select {
        background: $codGray;
      }
    }

    .react-datepicker__day-name, .react-datepicker__day {
      color: white;

      &:hover {
        color: black;
      }
    }

    .react-datepicker__day.react-datepicker__day--disabled {
      &, &:hover {
        color: white;
        opacity: 0.3;
      }
    }

    .react-datepicker__current-month {
      color: white;
    }

    .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
      border-bottom-color: $tundora;
    }

    ._light-theme {
      #app {
        .react-datepicker__current-month {
          color: black;
        }

        .react-datepicker__header {
          background: $alto;
          border-bottom-color: $alto;
        }

        .react-datepicker {
          background: #f8f8f8;
          border-color: $alto;
          color: black;
        }

        .react-datepicker__day-name, .react-datepicker__day {
          color: black;
        }

        .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
          border-bottom-color: $alto;
        }
      }
    }
  }
}

.file-upload-uploaded {
  height: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  margin: 8px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-upload-uploaded-name {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
@media (max-width: 1100px){
  .file-upload-uploaded-name {
    max-width: 50px;
  }
}


  .file-upload-uploaded-sz {
  display: inline-block;
}

.file-upload-uploaded-size {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $gray;
  padding-left: 5px;
}

.required-mark, :global(.required-mark) {
  color: red;
}

:global{
  .disabled{
    .redux__field__label-wrapper__text,
    .Select--single > .Select-control .Select-value,
    .has-value.Select--single > .Select-control .Select-value .Select-value-label{
      color: $tundora;
    }
  }

  ._light-theme{
    .disabled{
      .redux__field__label-wrapper__text,
      .Select--single > .Select-control .Select-value,
      .has-value.Select--single > .Select-control .Select-value .Select-value-label{
        color: $alto;
      }
    }

}
}
