

.deals {

}

.header {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px $mineShaft;


  div {
    color: $gray;
  }
}


.deal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px $mineShaft;

  > div {
      color: $white;

      .gui__button {
          margin-left: 30px;
      }
  }

  .deal-close {
    padding-left: 20px;
  }

}

.header > div,
.deal > div {
	padding: 6px 0;

	text-align: right;
	font-size: 14px;
	white-space: nowrap;
}

.header-amount {
  margin-left: 292px;
}
.button-inner {
  padding: 6px 10px;
}

.deal-id {
  width: 220px;
}
.deal-number, .header-number {
  width: 120px;
}
.header-number {

}

.instrument {
	display: flex;
	align-items: center;
	padding-left: 40px;
}

.instrument-icon {
	margin-right: 10px;
    font-size: 23px;

    :global(.icon-icon-single-line) {
        position: relative;
        top: -5px;
        font-size: 19px;
    }

    :global(.icon-icon-single-line::before) {
      margin-left: 4.6px;
    }

}


:global(._light-theme) {
    .deal,  .header {
        border-bottom-color: white;
    }

    .deal > div {
        color: $tundora;
    }

    .header div {
      color: $doveGray;
    }
}
