.ticket {
  width: 416px;
}
.loading {
  height: 100px;
  position: relative;
}


.sellSelected{
  background: $salem!important;
  color: $white!important;
}

.buySelected{
  background: $buttonBuyFillColor!important;
  color: $white!important;
}
