.logo {
  display: flex;
  align-items: center;
  min-width: 185px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.stub {
  opacity: 0;
}

.logo-img,
.logo-text {
  display: inline-block;
  vertical-align: middle;
}

.logo-img {
  width: 140px;
  margin-right: 17px;
  height: 55px;
  background: url($logoUrl) center center no-repeat;
  background-size: contain;
}

.logo-text {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.form {
  font-family: Lato;
  overflow: auto;
  color: white;
  height: 100%;
  display: flex;
  background: url($backBg) no-repeat center center;
  background-size: cover;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.form-step {
  flex: 1;
  margin-right: 30px;

  :global {
    .Select-option {
      background-color: $selectOptionsBackground;
    }

    .Select-option.is-focused {
      background-color: $selectOptionHoverBackground;
    }
  }
}

.header-wrapper {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
}

.title {
  height: 32px;
  font-family: Lato;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: center;
  color: $white;
}

.required-mark, :global(.required-mark) {
  color: red;
}

.step-container {
  width: 892px;
  margin: 0 auto;
  position: relative;
  flex: 1;
}

.step-line {
  position: absolute;
  width: 100%;
  height: 8px;
  background: rgb(50, 50, 50);
  left: 0;
  top: 8px;
  border-radius: 5px;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step-circle {
  height: 24px;
  width: 24px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: rgb(50, 50, 50);
  margin-bottom: 6px;
  position: relative;

  :global(.icon-icon-check) {
    display: none;
  }
}

.step-circle-7 {}

.step {
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.17;
  text-align: center;
  color: rgb(96, 96, 96);
  display: block;
  width: 11.11%;
  position: relative;
  margin: 0 2px;

  &:first-child {
    margin-left: -6%;
  }

  &:last-child {
    margin-right: -6%;
  }

  &.active {
    .step-circle {
      position: relative;
      cursor: pointer;

      &:after {
        background-color: rgb(25, 159, 43);
        box-shadow: 0 0 8px 0 rgba(0, 4, 11, 0.65);
        content: "";
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        left: 0;
        top: 0;
        border-radius: 50%;
        z-index: 2;
      }

      &:before {
        background-color: rgb(25, 159, 43);
        width: 106px;
        left: -99px;
        top: 7px;
        height: 10px;
        display: block;
        position: absolute;
        content: "";
      }

      :global(.icon-icon-check) {
        display: block;
        position: relative;
        z-index: 3;
        color: white;
        padding: 7px 4px 0 0;
        font-size: 10px;
      }
    }

    &:global(.step-0) {
      .step-circle:before {
        display: none;
      }
    }
  }
}

.step.active .step-circle-6 {
  &:before {
    width: 115px;
    left: -114px;
  }
}

.step-text {
  &.active {
    color: white;
  }
}

.body {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  position: relative;
  margin-top: auto;
  margin-bottom: 40px;
  width: 370px;
}

.step1-title {
  height: 24px;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.step1-text {
  width: 422px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 36px;
  margin: 0 auto;
}

.text-bottom {
  margin-top: 60px;
  font-style: italic;
}

.form-step-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  :global(.custom-scroll .outer-container .custom-scrollbar) {
    opacity: 1 !important;
  }
}

.field-note {
  font-size: 14px;
  color: #7a7d8e;
  display: block;
  padding: 9px 0 0 0;
}

.file-upload {
  width: 280px;
  margin-left: auto;
}

.file-upload-group {
  margin-bottom: 36px;
}

.file-upload-uploaded {
  line-height: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.uploaded-files > div:last-child{
  margin-bottom:20px;
}
.file-upload-uploaded-size {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $gray;
  padding-left: 5px;
  white-space: nowrap;
}

.file-upload-uploaded-name {
  display: block;
  overflow: hidden;
  height: 100%;
}

.file-upload-title {
  margin-top: 0;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: rgb(255, 255, 255);
}

.file-upload-description {
  font-family: Lato;
  font-size: 13px;
  font-style: italic;
  text-align: left;
  color: rgb(255, 255, 255);
}

.file-upload-dropzone {
  height: 40px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border: dashed 1px rgba(255, 255, 255, 0.25);
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.form-step-0 {
  width: 665px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-1 {
  width: 885px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-2 {
  width: 620px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.corporate-form-step-2 {
  width: 420px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-3 {
  width: 700px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .radio-group-inner {
    width: 465px !important;
  }
}

.corporate-form-step-3 {
  width: 920px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-4 {
  width: 725px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-5 {
  width: 641px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-6 {
  width: 641px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-7 {
  width: 725px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-step-8 {
  width: 860px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-fields-container {
  padding: 0 20px;
  position: relative;
}

.disabled {
  opacity: 0.5;
}

.form-element-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

  &.multi-row {
    align-items: flex-start;

    .label-wrapper {
      padding: 0;
      margin-top: -2px;
    }
  }

  &.new-line {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    .label-wrapper {
      text-align: left;
    }
  }
}

.label-wrapper {
  margin-right: 21px;
  flex: 1;
  text-align: right;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
  padding-top: 6px;
}

.no-label-checkbox {
  width: 340px;
  margin-left: auto;
}

.input-inner {
  margin: 10px 0 0 -10px;
}

.input-error-text {
  color: red;
  margin: 10px 0 5px;
  font-size: 16px;
}

.input-wrapper {
  margin-left: auto;
  width: 340px;
  font-size: 15px;

  & > div {
    display: inline-block;
    width: 100%;

    input {
      width: 100%;
      height: 30px;
      padding-right: 50px;
    }

    &.btn-group-container {
      display: flex;
      flex-direction: row;
    }

    &.radio-group-inner {
      height: auto;
      width: 425px;
      margin-left: auto;
    }

    &.date-range-picker {
      display: flex;
    }
  }

  :global {
    .Select-control {
      border: 0;
      background-color: rgba(255, 255, 255, 0.1);
      height: 100%;

      .Select-input > input {
        padding: 0;
      }

      .Select-value {
        line-height: 30px;
      }
    }
  }

  &.radio-group, &.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &.multi-row, .multi-row {
    flex-direction: column;
    height: auto;
    display: flex;

    .radio-group-label {
      margin-bottom: 12px;
      margin-top: 0;
    }
  }

  &.large {
    width: 400px;
  }

  &.new-line, .new-line {
    margin: 20px 0;
    width: 100%;
    height: auto;
  }

  &.mini {
    width: 310px;
  }

  &.micro {
    width: 171px;

    :global(.react-datepicker-popper) {
      min-width: 250px;
      left: -70px !important;

      :global(.react-datepicker__triangle) {
        margin-left: 135px !important;
      }
    }
  }
}

.has-postfix {
  position: relative;
}

.fields-required-title {
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  color: white;
}

.subtitle {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  margin: 23px 0 0;
  color: $white;
  text-align: center;
}

.subtitle-description {
  margin-top: 14px;
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 16px;
  padding: 5px 0;
}

.postfix {
  color: white;
  position: absolute;
  right: 10px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: $gray;
  height: 100%;
  line-height: 30px;
}

.btn-group-container {
  height: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
}

:global {
  .react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
    height: 100%;
  }
  .react-datepicker-wrapper {
    position: relative;
  }
}

.form-input, :global(.react-datepicker__input-container input) {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 50px 0 10px;
}

textarea.form-input {
  min-height: 100px;
  padding: 10px;
  font-family: Lato;
  outline: none;
}

.input-icon {
  display: inline-block;
  margin-left: -28px;
}

.btn-group-label {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 30px;

  input {
    display: none;
  }

  &.active {
    background: #232c4d;
    border-radius: 4px;
  }
}

.radio-group-label {
  padding-left: 10px;
  position: relative;
  margin-top: 8px;
  padding: 0 15px 0 20px;

  input {
    display: none;
  }

  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    top: 0;
  }

  &.active:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;
  }
}

.checkbox-group-label {
  padding-left: 10px;
  position: relative;
  margin-top: 8px;
  padding: 0 15px 0 20px;
  font-size: 14px;
  font-family: Lato;
  display: block;

  input {
    display: none;
  }

  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
  }

  &.active:after {
    content: '\E80B';
    font-family: 'unity-icons';
    color: white;
    position: absolute;
    top: 4px;
    font-size: 8px;
    left: 3px;
  }

  a {
    text-decoration: underline;
  }
}

.radio-group-inner {
  .form-element-wrapper {
    .label-wrapper {
      text-align: right;
    }
  }
}

.fields-array-container {
  margin-bottom: 40px;
}

.family-member {
  display: flex;
  flex-direction: row;
}

.family-member-bordered {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

.delete-icon {
  padding-top: 7px;
  cursor: pointer;
  padding-right: 20px;
  margin-left: -42px;
}

.add-person {
  width: 340px;
  margin-left: auto;

  span {
    border-bottom: 1px dashed white;
    cursor: pointer;
  }
}

.mini {
  .add-person {
    width: 310px;
  }
}

.error {
  background: black;
}

.checkbox-container {
  margin-bottom: 20px;
}

.tabs-content {}

.tabs-container {}

.tab-content {
  display: none;
  margin-top: 40px;
}

.tab-content.active {
  display: block;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.tab {
  line-height: 28px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #4c505b;
  font-size: 14px;
  color: #4c505b;
  padding: 0 10px;
  margin: 0 10px 10px 0;
  flex: 0 0 auto;

  &.tab-active {
    border-color: white;
    color: white;
  }

  :global(.icon-icon-cancel) {
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
    display: inline-block;
    transform: translateY(-1px);
  }
}

.has-error {
  border-color: #ff4000;
  color: #ff4000;
}

.add-tab {
  display: block;
  height: 20px;
  border-bottom: 1px dashed white;
  flex: 0 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.required-note {
  font-style: italic;
}

:global(.italic) {
  font-style: italic;
}

:global(.icon-icon-not-verified) {
  font-size: 128px;
}

.sub-text {
  font-size: 12px;
  font-style: italic;
}

.full-width {
  &, .radio-group-inner {
    width: 100% !important;
  }

  .radio-group-inner {
    margin-top: 20px;

    .label-wrapper {
      display: none;
    }

    .input-wrapper {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.date-range-picker {
  .input-icon {
    margin-right: 10px;
  }
}

:global {
  .datepicker-right {
    .react-datepicker-popper {
      left: -75px !important;

      .react-datepicker__triangle {
        margin-left: 135px !important;
      }
    }
  }
}

.logout-link {
  font-size: 22px;
  text-align: center;
  padding: 20px 0 0;

  a {
    text-decoration: underline;
  }
}

.logo-container {
  height: 190px;
  background: url($logoLargeUrl) center center no-repeat;
  background-size: contain;
  max-width: 370px;
  width: 100%;
  margin-bottom: 20px;
}

.on-verification {
  color: #ff9800;
  font-size: 20px;
  text-align: center;
  & i{
    margin-right:10px;
  }
}

.rejected {
  color: #ff4000;
  font-size: 20px;
  margin:40px 0 20px;
  & div{
    text-align: center;
  }
}

.on-verification-text {
  font-size: 20px;
  text-align: center;
  margin-bottom:40px;
}
.on-verification-head-text{
  margin-top:40px;
  margin-bottom:32px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;

}

.verification-in-process {
  display: flex;
  height: 100%;
  width: 400px;
  margin: 0 auto;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-option-comment {
  margin-top: 5px;
  margin-bottom: 5px;
}

:global{
  .uploadBtn{
    margin-top:20px;
    background: linear-gradient(180deg, #EB1D25 2.89%, #770E12 100%);
    border-radius: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: $white;
    padding: 15px 28px 15px;
    cursor: pointer;
  }
}
