

.market {
	color: #808080;
	font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.status {
	display: flex;
	align-items: center;
}

.dot {
	width: 6px;
	height: 6px;
	margin-right: 3px;
	border-radius: 50%;

    &.opened {
	    background: $salem;
    }
    &.closed {
	    background: $scarlet;
    }
}
