.quot {
	display: inline-flex;
  align-items: flex-start;

  color: $white;
}

.decreased {
	font-size: 16px;
}

.increased {
	top: -2px;
	position: relative;
	font-size: 28px;
}

.default, .base {}
.small {
    .increased {
        font-size: 14px;
        top: 0;

    }
    .decreased {
        font-size: 14px;
    }
}


.big {
    .increased {
        font-size: 22px;
        top: -1px;

    }
    .decreased {
        font-size: 14px;
    }
}


.medium {
    .base {
        font-size: 16px;
        position: relative;
        top: -3px;
    }

    .increased {
        font-size: 24px;
        top: -1px;
        padding: 0 2px;

    }
    .decreased {
        font-size: 14px;
        top: -3px;
        position: relative;
    }
}

.plain {
  .base, .increased, .decreased {
    font-size: 16px;
    padding: 0;
    top: 0;
  }
}


:global(._light-theme) {
  .quot {
    color: $mineShaftDark;
  }
}
