.menu-container{
  position:relative;
}
.context-menu{
  position:absolute;
  background: $baseCodeGray;
  border-radius:8px;
  visibility: hidden;
  z-index:10000;
  height:0;
  box-shadow:0px 0px 8px $boxShadow;
  border:1px solid $contextMenuBorder;
  opacity: 0;
  &.opened{
    visibility: visible;
    width:170px;
    height:auto;
    opacity: 1;
    transition:opacity 0.2s;
  }
}
.menu-item{
  padding:10px;
  color:$gray;
  font-size:14px;
  border-bottom:1px solid $mineShaftDark;

  &:first-child{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
  }
  &:last-child{
    border-bottom:0;
  }

  &.toggled{
     background: $mineShaft;
  }
}
.item-label{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  cursor:pointer;
  &:hover{
    color: $white;
  }
   & i{
    margin-right: 5px;
   }
}
.sub-menu{
  margin-top:3px;
  overflow:hidden;
  height:78px;
  transition:all 0.2s;
  & > div{
    cursor:pointer;
    padding:6px;
    &:last-child{
      padding-bottom:0px;
    }
    &:hover{
      color: $white;
    }
  }
  i{
    margin-right:5px;
  }
}
.toggled{
  & .sub-menu{
    height:78px;
  }
  & .item-label{
    color: $white;
  }
}
.icon{
  transition: all 0.2s;
}
.down{
  transform: rotate(270deg);
}
.right{
  transform: rotate(180deg);
}


:global(._light-theme){
  .context-menu{
    background-color: $seashell;
    box-shadow:0px 0px 8px $boxShadowLight;
    border:0;
  }
  .menu-item{
    border-color: $white;
    color:$contextMenuLight;
    &:hover{
       color:$tundora;
    }
  }
  .item-label{
    &:hover{
       color:$tundora;
    }
  }
  .sub-menu > div:hover{
     color:$tundora;
  }
}
