.panels {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.panel {
  min-width: 50%;
  position: relative;
  &:first-child {
   margin-right: 10px;
 }
}
.transactions-title{
  font-size: 22px;
  margin-right: 5px;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
}

