

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    min-width:500px;
}
.row {
	width: 100%;
	font-family: Lato;
	min-width: 470px;
  z-index: 9999
}

.row:hover:not(.header) {
	cursor: pointer;
	background-color: $mineShaft;

    .spread, .positions {
        background-color: $mineShaft;
    }
}

.header,
.cell {
	color: #808080;
	border-bottom: 1px solid $mineShaft;
	text-align: right;
	min-width: 100px;
}

.header:first-of-type > * {
	justify-content: flex-start;
}

.header-label {
    font-size: 12px;
	display: flex;
	justify-content: flex-end;
}

.instrument-label,
.instrument-text {
	vertical-align: middle;
}

.instrument-label {
	display: inline-block;
}

.instrument-text {
	display: inline-block;

    .name {
        color: $white;
        font-size: 18px;
    }
}

.instrument-selector-container {
    width: 125px;
}

.cell__bid {
  margin-right: 4px;
}

.cell__ask {
  margin-left: 4px;
}

.cell__bid,
.cell__ask {
	color: $white;
	position: relative;
  cursor: pointer;
  flex-direction: row-reverse;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover:enabled {
    background-color: #2a2a2a;
    border: 1px solid $tundora;
  }

  &[disabled] {
      cursor: default;
  }

  .wrapper {
    text-align: right;
    /* outline: 1px solid $tundora; */
    position: relative;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 34px;
    height: 34px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    .value-top {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 4px;
    }

    .arrow-container {
      flex-basis: 10px;
      display: flex;
      justify-content: center;
      padding-top: 8px;
      flex-shrink: 0;
      /* align-items: center; */
    }

  }

  &.positive {
    .arrow-container polygon {
      fill: $salem;
    }
  }

  &.negative {
    .arrow-container {
      svg {
        transform: rotate(180deg);

        polygon {
          fill: $scarlet;
        }
      }
    }
  }
}

.cell__bid {
    .value-top {
         padding-right: 10px;
    }
}


.cell__net-change,
.cell__market-status,
.cell__delay {
	color: $white;
}

.cell__net-change,
.cell__market-status,
.cell__delay {
    .value-top {
        font-size: 14px;
    }
}


.header,
.cell {
	padding: 6px 10px;
}

.header:first-of-type,
.cell:first-of-type {
	text-align: left;
}

.header {
	padding: 10px;
}

.instrument-label {
	display: inline-block;
	margin-right: 7px;
}

.instrument-label__name {
	color: $white;
	font-size: 14px;
}

.quotes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.spread {
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-size: 10px;
    position: relative;
    line-height: 28px;

}

.positions {
    width: 40px;
	height: 17px;
	display: block;
	font-size: 12px;
	text-align: right;
	color: $white;
    background: $baseCodeGray;
    z-index: 2;
    padding-right: 2px;
    line-height: 17px;
    position: relative;
    z-index: 2;
    top: -11px;
    right: -15px;
    padding-right: 4px;

    &:before {
        content: "";
        position: absolute;
        height: 84%;
        width: 1px;
        background: $tundora;
        right: 0;
        bottom: 0;
    }

    &:after {
        content: "";
        position: absolute;
        width: 37%;
        height: 1px;
        background: $tundora;
        right: 0;
        bottom: 0;
    }
}

.light-theme{
  .spread, .positions {
    background: $concrete;
    color: black;
    border-color: $silver;

    &:after, &:before {
      background: $silver;
    }
  }

  .instrument-text {
    .name {
      color: $tundora;
    }
  }

  &.cell__net-change,
  &.cell__market-status,
  &.cell__delay,
  &.cell__bid,
  &.cell__ask {
    color: $tundora;
  }
}
.dark-theme{

}

:global(._light-theme) {

    .cell, .header {
        border-bottom: 1px solid white;
    }

    .spread, .positions {
        background: $concrete;
        color: black;
        border-color: $silver;

        &:after, &:before {
            background: $silver;
        }
    }

    .instrument-text {
        .name {
            color: $tundora;
        }
    }

    .cell__net-change,
    .cell__market-status,
    .cell__delay,
    .cell__bid,
    .cell__ask {
        color: $tundora;
    }

    .cell__ask,
    .cell__bid {
      &:hover:enabled {
        background-color: $white;
        border: 1px solid $gray;
      }
    }

    .row:hover:not(.header) {
        background-color: white;

        .spread, .positions {
            background: white;
        }
    }
}
