.transaction-row, .transaction-instrument-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $transactionNettingRow;
  border-bottom: 1px solid $widgetTitleColor;
  padding:12.5px;
}
.small-cell{
  width:25%;
}
.big-cell{
  width:50%;
}
.text-right{
  text-align: right;
}
.transaction-instrument-row{
  background: $codGray;
}
.hide-show{
  margin-right:5px;
  cursor:pointer;
}
.instrument{
  width:25px;
  height:25px;
  font-size:13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right:5px;
}
.instrument-header{
  padding-left:20px;
  display:flex;
  align-items: center;
}
.account-currency{
  padding-left:30px;
}

:global(._light-theme) {
  .transaction-row, .transaction-instrument-row{
    border-bottom: 1px solid $white;
  }
  .transaction-instrument-row{
    background: $gallery;
  }
  .transaction-row{
    background: $transactionNettingRowLight;
  }
  .instrument{
    color: $white;
  }
}
