@import "../../../../../../assets/styles/mixins.css";

.trading-board {
  display: flex;
  flex-flow: wrap;
  font-family: Lato;
  padding: 0 5px 9px;
  justify-content: flex-start;
}

.trade-ticket-wrapper {
  width: 100%;
  padding: 10px;
  background-color: $mineShaft;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid $mineShaft;

  & > :first-child {
    margin-bottom: 10px;
  }

  & > :nth-child(2) {
    margin-bottom: 6px;
  }

  &.active {
    background-color: #202020;
    border-color: $tundora;
  }
}

.trade-ticket {
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  z-index: 9999;
}

.trade-ticket-sell-price-value,
.trade-ticket-buy-price-value {
  height: 33px;
}

.trade-ticket-select-wrapper {
  width: 78px;
  font-size: 10px;
}

.trade-ticket-select-wrapper .Select-placeholder {
  line-height: 19px;
}

.trade-ticket-select .Select-control {
  height: 20px;
}

.trade-ticket-select .Select-input {
  height: 18px;
}

.trade-ticket-select .Select-value {
  line-height: 18px !important;
}

/*
.trade-ticket-select .Select-menu-outer {
	z-index: 9998;
}
*/

.trade-ticket-select .Select-arrow {
  top: 3px;
}

.trade-ticket-quot-increased {
  font-size: 24px;
  position: relative;
  top: 5px;
  padding: 0 1px;
}

.trade-ticket-row {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.trade-ticket-label {
  margin-right: 5px;
}

.custom-amount {
  color: $white;
  border-bottom: 1px dashed $white;
  cursor: pointer;
  margin: 0 5px;
  position: relative;

  &:hover {
    .custom-amount-tooltip {
      display: block;
    }
  }
}

.custom-amount-tooltip {
  position: absolute;
  left: 50%;
  top: 19px;
  margin-left: -95px;
  padding: 5px 8px;
  background: $baseCodeGray;
  border-radius: 4px;
  display: none;
  width: 190px;
  font-size: 11px;
  text-align: center;
  z-index: 99999;
  line-height: 13px;

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent $baseCodeGray transparent;
    top: -4px;
    left: 50%;
    margin-left: -4px;
  }
}

.trade-ticket-amount {
  color: $gray;
  font-size: 10px;
  margin-right: 5px;
  white-space: nowrap
}

.trade-ticket-currency {
  color: $white;
  font-size: 12px;
  display: inline-block;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trade-ticket-box,
.trade-ticket-left-box,
.trade-ticket-right-box {
  width: 50%;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.trade-ticket-box, .trade-ticket-box-auto {
  /*width: auto;*/
}

.trade-ticket-left-box .gui-button,
.trade-ticket-right-box .gui-button {
  width: 100%;
}

.trade-ticket-left-box {
  justify-content: flex-start;
  padding-right: 2.5px;
}

.trade-ticket-right-box {
  justify-content: flex-end;
  padding-left: 2.5px;
}

.trade-ticket-ratio {
  @add-mixin center;

  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid $tundora;
  border-radius: 50%;
  background-color: $mineShaft;
  z-index: 1;
}

.trade-ticket-ratio-bar {
  width: 5px;
  height: 30px;
  background-color: $mineShaft;
}

.trade-ticket-ratio-text {
  color: $white;
  font-size: 10px;
  position: relative;
}

.trade-ticket-sell,
.trade-ticket-buy {
  width: 100%;
  color: $white;
  position: relative;
  font-size: 12px;
  text-align: center;
  padding: 4px 6px;
  border: solid 1px $tundora;
  border-radius: 4px;
  &.availableForQuickTrade:hover{
    background: $tundora;
    cursor:pointer;
  }
}

.trade-ticket-sell-text,
.trade-ticket-buy-text {
  color: $white;
}

.trade-ticket-sell-arrow._positive polygon,
.trade-ticket-buy-arrow._positive polygon {
  fill: $salem;
}

.trade-ticket-sell-arrow._positive path svg,
.trade-ticket-buy-arrow._positive path svg {
  transform: rotate(180deg);
}

.trade-ticket-sell-arrow._negative,
.trade-ticket-buy-arrow._negative {
  transform: rotate(180deg) translateY(-9px);
}

.trade-ticket-sell-arrow._negative polygon,
.trade-ticket-buy-arrow._negative polygon {
  fill: $scarlet;
}

.trade-ticket-sell-price,
.trade-ticket-buy-price {
  margin: 3px 0;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.trade-ticket-sell-price-value-part,
.trade-ticket-buy-price-value-part {
  font-size: 16px;
  vertical-align: top;
}

.trade-ticket-sell-price-value-part-big,
.trade-ticket-buy-price-value-part-big {
  font-size: 24px;
  vertical-align: top;
}

.trade-ticket-sell-limit-value,
.trade-ticket-buy-limit-value {
  font-size: 10px;
}

.trade-ticket-sell-limit-value._little,
.trade-ticket-buy-limit-value._little {
  font-size: 8px;
}

.trade-ticket-sell-arrow {
  left: 7px;
  margin-right: 2px;

  @add-mixin vertical_center;
}

.trade-ticket-buy-arrow {
  right: 7px;
  margin-left: 2px;

  @add-mixin vertical_center;
}

:global(._light-theme) {
  .trade-ticket-currency,
  .trade-ticket-currency-to {
    color: $tundora;
  }

  .trade-ticket-sell,
  .trade-ticket-buy {
    border: 1px solid $alto;
    &.availableForQuickTrade:hover{
      background: $gallery;
     }
  }

  .trade-ticket-sell-price,
  .trade-ticket-buy-price,
  .trade-ticket-sell-text,
  .trade-ticket-buy-text {
    color: $tundora;
  }

  .trade-ticket-ratio {
    border: 1px solid $alto;
    background: $white;
  }

  .trade-ticket-ratio-bar {
    background: $white;
  }

  .trade-ticket-ratio-text {
    color: $tundora;
  }

  .trade-ticket-wrapper {
    border: 1px solid $white;
    background: $white;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  }

  .trade-ticket-wrapper.active {
    border: solid 1px #c0c0c0;
    background: $seashell;

    .trade-ticket-ratio {
      background: $seashell;
    }
  }

  .custom-amount  {
    color: $mineShaftDark;
    border-bottom-color: $mineShaftDark;
  }

  .custom-amount-tooltip  {
    background: $silver;

    &:before {
      border-color: transparent transparent $silver transparent;
    }
  }
}

.amounts-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.amount-input {
  color: $white;
  padding: 8px 10px;
  border: 1px solid $tundora;
  border-radius: 5px;
  font-family: Lato;
  width: 190px;
  min-width:64px;

  &.inactive {
    color: $gray;
  }

  &.active {
    background-color: $tundora;
  }
}

.amounts-label {
  color: $gray;
  white-space: nowrap;
}

.amounts-text-delimiter {
  color: $gray;
  margin-right: 10px;
  font-family: Lato;
}

:global(._light-theme) {
  .amounts-label {
    color: $tundora;
  }

  .amount-input {
    border-color: $silver;
    color: $tundora;

    &.inactive {
      color: $gray;
    }

    &.active {
      background-color: $silver;
    }
  }

  .amounts-text-delimiter {
    color: $tundora;
  }
}
.amounts-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.amount-input {
  color: $white;
  padding: 8px 10px;
  border: 1px solid $tundora;
  border-radius: 5px;
  font-family: Lato;
  width: 190px;
  min-width:64px;
  height: 28px;
  font-size: 14px;

&.inactive {
   color: $gray;
 }

&.active {
   background-color: $tundora;
 }
}

.amounts-label {
  color: $gray;
  white-space: nowrap;
  font-size: 12px;
}

.amounts-text-delimiter {
  color: $gray;
  margin-right: 10px;
  font-family: Lato;
  font-size: 12px;
}

.radioButtons {
  margin-left: 10px;
  margin-right: 10px;
}

.radioButtonsShrinked {
  margin-left: 0;
}

:global(._light-theme) {
.amounts-label {
  color: $tundora;
}

.amount-input {
  border-color: $silver;
  color: $tundora;

&.active {
   background-color: $silver;
 }
}

.amounts-text-delimiter {
  color: $tundora;
}
.context-menu{
  color:$contextMenuLight;
}
}
.context-menu{
  color: $white;
  display:flex;
  align-items: center;
  margin-left:5px;
& i{
    cursor:pointer;
  }
}
