.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 52px;
  color: $white;
  border: 0;
  border-bottom: 1px solid $widgetTitleColor;

  z-index: 9999;
}

.list-item-row-ok {
  margin-left: auto;
  color: $white;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: $salem;
  font-size: 9px;
  padding-top: 1px;

  &:before {
    font-weight: 700;
    padding: 0;
    margin: 0 0 0 -3px;
  }
}


.list-item-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  border: 0;
}


:global(._light-theme) {
  .list-item {
    border-bottom-color: $white;
    color: $tundora;;
  }
}
