
.panels {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.panel {
  width: 60%;
  position: relative;
  &:first-child {
     width: calc(40% - 10px);
     margin-right: 10px;
   }
}
.withdrawal-title{
  margin-right:3px;
}
