@import '../../../../assets/styles/mixins.css';

.input, .password {
    width: 100%;
    position: relative;
}

.wrapper {
    color: $gray;
    width: 100%;
    height: 50px;
    border: solid 1px $inputBorderColor;
    background: $inputBackground;
    display: flex;
    padding: 0;
    flex-grow: 1;
    font-size: 20px;
    font-family: Lato;
    border-radius: 8px;

    &.with-text {
        .field {
            padding: 18px 14px 8px 14px;
        }
    }
}

.field {
    color: white;
    width: 100%;
    position: relative;
    padding: 12px 14px 14px 14px;

    &::placeholder {
      opacity: 0.7;
    }
}

.icon {
    @add-mixin vertical_center;
    right: 10px;
    font-size: 30px;

    &:hover {
        cursor: pointer;
    }
}

.error-message {
    position: absolute;
    left: 14px;
    bottom: -22px;
    color: $scarlet;
}
