.tabs-container {
  position: relative;
  overflow: hidden;
}

.scrollbar {
  display: flex;
  align-items: stretch;
  position: relative;
}

.tab-text {
  color: $gray;
  white-space: nowrap;
  margin-left: 20px;
}

.tab-text:hover {
  cursor: pointer;
}

.tab-text--active {
  color: white;
  border-bottom: 2px solid white;
}

.shadow {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* Safari doesn't understand color transparent */
  background: linear-gradient(to right, $baseCodeGray, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.right {
  background: linear-gradient(to left, $baseCodeGray, rgba(255, 255, 255, 0));
  right: 0;
  left: auto;
}


:global(._light-theme) {
  .tab-text--active {
    color: $mineShaftDark;
    border-bottom: 2px solid $mineShaftDark;
  }

  .shadow {
    background: linear-gradient(to right, $concrete, rgba(255, 255, 255, 0));
  }

  .right {
    background: linear-gradient(to left, $concrete, rgba(255, 255, 255, 0));
  }

}
