.main {
  height: calc(100% - $header_height);
  padding: 0 10px;
  background: $baseCodeGray;
  display: flex;
  flex-direction: column;
}

.main._without-footer {
  padding-bottom: 0;
}

:global(._light-theme) {
  .main {
    background: $seashell;
  }
}
