@import "../../assets/styles/mixins.css";

.text {
  color: #808080;
  font-size: 10px;
  flex: 1;
  overflow: auto;
  margin-top: 10px;
  position: relative;
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.5;
}

.scroll-wrapper {
  max-height: 580px;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  width: 480px;
}

.no-title {
  padding-top: 10px;
}

.no-data {
  height: 470px;
  line-height: 470px;
  font-size: 19px;
  text-align: center;
}

.instrument-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.instrument-info-wrapper {
  position: relative;
}

.instrument-card-container {
  position: absolute;
  right: 0;
  top: -2px;
  background: $baseCodeGray;
  width: 370px;
  border: 1px solid $mineShaftDark;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
  }

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent $mineShaftDark transparent transparent;
  }

  &.bottom {
    top: 33px;
    transform: translateX(-410px);

    &:before {
      top: -9px;
      left: auto;
      right: 13px;
      border-width: 0 7px 7px 7px;
      border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
    }

    &:after {
      top: -8px;
      left: auto;
      right: 13px;
      border-width: 0 7px 7px 7px;
      border-color: transparent transparent $mineShaftDark transparent;
    }
  }
}

.bottom {}

.instrument-row-box {
  @add-mixin flex-center;
}

.new-instrument-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.new-instrument-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  & :global(.icon-icon-single-line){
    &:before{
      font-size:17px;
      margin:0 3px 0 5px;
      position: relative;
      top: -10px;
    }
  }
}

.new-instrument-row-loading-wrapper {
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0 9px 0;
  min-height: 40px;
}

.new-instrument-row-level-1 {
  background-color: transparent;
}

.new-instrument-row-level-2 {
  background-color: $codGray;
}

.new-instrument-row-level-3 {
  background-color: #242424;
}

.new-instrument-row-level-4 {
  background-color: #242424;
}

.new-instrument-row-level-5 {
  background-color: #242424;
}

.new-instrument-row-level-6 {
  background-color: #242424;
}

.new-instrument-row-level-7 {
  background-color: #242424;
}

.new-instrument-row-expandable {
  cursor: pointer;
}

.new-instrument-row-box {
  display: flex;
  align-items: center;
  flex: 1;
}

.new-instrument-row-title {
  font-size: 16px;
  color: $white;
  margin: 0 27px 0 9px;
  font-weight: 500;
  text-align: left;
}

.new-instrument-row-title-category {
  font-size: 18px;
  line-height: 18px;
  color: $white;
  margin: 0 27px 0 9px;
}

.new-instrument-row-loading {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 10px;

  & > div > div {
    font-size: 3px;
    width: 3px;
    height: 3px;
  }
}

.new-instrument-row-count {
  margin-left: auto;
  font-size: 16px;
  color: $gray;
  text-align: right;
}

.new-instrument-row-arrow {
  margin-left: 14px;
  margin-top: 6px;
  color: $white;
  margin-right: 4px;
}

.new-instrument-row-arrow-up {
  transform: rotate(180deg);
}

.new-instrument-row-icon-line {
  font-size: 25px;

  &:before {
    text-align: left;
  }
}

.new-instrument-row-icon {
  font-size: 16px;
}

.new-instrument-row-icon-wrap {
  display: flex;
  align-items: center;
}

.new-list-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.instrument-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  cursor: pointer;

  .icon {
    display: block;
    height: 19px;
    color: $gray;

    &.active {
      color: $white;
    }
  }

  &:hover {
    .icon {
      color: $white;
    }
  }
}

.instrument-selector-instrument {
  padding: 0 5px 0 10px;
  font-size: 18px;
  color: $white;
  white-space: nowrap;

  i {
    margin-right: 5px;
  }
}

.instrument-selector-button {
  margin: 0 10px;
  font-size: 14px;
  line-height: 14px;
  color: $gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: "";
    border-left: 2px solid $baseCodeGray;
    display: block;
    height: 20px;
    padding: 0 10px 0 0;
    width: 0px;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
  i {
    margin-right:5px;
  }
}

@media screen and (max-height: 760px) {
  .scroll-wrapper {
    max-height: 500px;
    min-height: 480px;
  }
}

@media screen and (max-height: 660px) {
  .scroll-wrapper {
    max-height: 420px;
    min-height: 400px
  }
}

:global(._light-theme) {
  .instrument-row-title {
    color: $tundora;
  }

  .new-instrument-row-title {
    color: $tundora;
  }

  .new-instrument-row-title-category {
    color: $tundora;
  }

  .new-instrument-row-arrow {
    color: $tundora;
  }

  .new-instrument-row-count {
    color: $tundora;
  }

  .new-instrument-row-level-2 {
    background-color: $watchListSecondLevel;
  }

  .new-instrument-row-level-3 {
    background-color: $gallery;
  }

  .new-instrument-row-level-4 {
    background-color: $gallery;
  }

  .new-instrument-row-level-5 {
    background-color: $gallery;
  }

  .new-instrument-row-level-6 {
    background-color: $gallery;
  }

  .new-instrument-row-level-7 {
    background-color: $gallery;
  }

  .new-instrument-row-arrow, .new-instrument-row-icon, .new-instrument-row-icon-line {
    color: $doveGray;
  }

  .instrument-selector {
    .icon {
      color: $tundora;
    }
  }

  .instrument-selector-instrument {
    color: $tundora;
  }

  .instrument-selector-button {
    color: $doveGray;

    &:before {
      border-left-color: $gray;
    }

  }

  .instrument-card-container {
    background: $concrete;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    border-color: $white;

    &:before {
      border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
    }

    &:after {
      border-color: transparent $white transparent transparent;
    }

    &.bottom {
      &:before {
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      }

      &:after {
        border-color: transparent transparent $white transparent;
      }
    }
  }
}
