:global {

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
    font-family: 'unity-icons';
    src: url('../assets/fonts/unity-icons.svg?60363472#unity-icons') format('svg');
}
}
*/
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'unity-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-icon-wathclist-widget-menu:before {
    content: "\e903";
  }
  .icon-icon-widget-opacity:before {
    content: "\e904";
  }
  .icon-icon-account:before {
    content: "\e800";
  }
  .icon-icon-add-contact:before {
    content: "\e801";
  }
  .icon-icon-arrow-left:before {
    content: "\e802";
  }
  .icon-icon-arrow-right:before {
    content: "\e803";
  }
  .icon-icon-attachment:before {
    content: "\e804";
  }
  .icon-icon-back:before {
    content: "\e805";
  }
  .icon-icon-backspace:before {
    content: "\e806";
  }
  .icon-icon-block-view:before {
    content: "\e807";
  }
  .icon-icon-calendar:before {
    content: "\e808";
  }
  .icon-icon-cancel:before {
    content: "\e809";
  }
  .icon-icon-chat:before {
    content: "\e80a";
  }
  .icon-icon-check:before {
    content: "\e80b";
  }
  .icon-icon-company-logo:before {
    content: "\e80c";
  }
  .icon-icon-document:before {
    content: "\e80d";
  }
  .icon-icon-double-line:before {
    content: "\e80e";
  }
  .icon-icon-dropdown-arrow:before {
    content: "\e80f";
  }
  .icon-icon-minus:before {
    content: "\e810";
  }
  .icon-icon-plus:before {
    content: "\e811";
  }
  .icon-icon-edit:before {
    content: "\e812";
  }
  .icon-icon-error:before {
    content: "\e813";
  }
  .icon-icon-filter:before {
    content: "\e814";
  }
  .icon-icon-in-verification:before {
    content: "\e815";
  }
  .icon-icon-info:before {
    content: "\e816";
  }
  .icon-icon-list-view:before {
    content: "\e817";
  }
  .icon-icon-more:before {
    content: "\e818";
  }
  .icon-icon-new-chat:before {
    content: "\e819";
  }
  .icon-icon-new-order-request:before {
    content: "\e81a";
  }
  .icon-icon-new-order:before {
    content: "\e81b";
  }
  .icon-icon-new-watchlist:before {
    content: "\e81c";
  }
  .icon-icon-news:before {
    content: "\e81d";
  }
  .icon-icon-no-network:before {
    content: "\e81e";
  }
  .icon-icon-not-verified:before {
    content: "\e81f";
  }
  .icon-icon-notifications-desktop:before {
    content: "\e820";
  }
  .icon-icon-notifications:before {
    content: "\e821";
  }
  .icon-icon-ok:before {
    content: "\e822";
  }
  .icon-icon-orders:before {
    content: "\e823";
  }
  .icon-icon-password-hidden:before {
    content: "\e824";
  }
  .icon-icon-logout:before {
    content: "\e825";
  }
  .icon-icon-password-visible:before {
    content: "\e826";
  }
  .icon-icon-positions-orders:before {
    content: "\e827";
  }
  .icon-icon-positions:before {
    content: "\e828";
  }
  .icon-icon-remove:before {
    content: "\e829";
  }
  .icon-icon-search:before {
    content: "\e82a";
  }
  .icon-icon-settings-desktop:before {
    content: "\e82b";
  }
  .icon-icon-settings:before {
    content: "\e82c";
  }
  .icon-icon-single-line:before {
    content: "\e82d";
  }
  .icon-icon-theme:before {
    content: "\e82e";
  }
  .icon-icon-touch-id:before {
    content: "\e82f";
  }
  .icon-icon-trading:before {
    content: "\e830";
  }
  .icon-icon-unity-mini-logo:before {
    content: "\e831";
  }
  .icon-icon-userpic:before {
    content: "\e832";
  }
  .icon-icon-verified:before {
    content: "\e833";
  }
  .icon-icon-transactions:before {
    content: "\e834";
  }
  .icon-icon-switch-account:before {
    content: "\e835";
  }
  .icon-icon-deposit:before {
    content: "\e836";
  }
  .icon-icon-transfer:before {
    content: "\e837";
  }
  .icon-icon-withdraw:before {
    content: "\e838";
  }
  .icon-icon-old-version:before {
    content: "\e839";
  }
  .icon-icon-asset:before {
    content: "\e83a";
  }
  .icon-icon-call:before {
    content: "\e83b";
  }
  .icon-icon-market:before {
    content: "\e83c";
  }
  .icon-icon-put:before {
    content: "\e83d";
  }
  .icon-icon-header-hide:before {
    content: "\e83e";
  }
  .icon-icon-header-show:before {
    content: "\e83f";
  }
  .icon-icon-widget-chart:before {
    content: "\e840";
  }
  .icon-icon-widget-chat:before {
    content: "\e841";
  }
  .icon-icon-widget-info:before {
    content: "\e842";
  }
  .icon-icon-widget-market-depth:before {
    content: "\e843";
  }
  .icon-icon-widget-news:before {
    content: "\e844";
  }
  .icon-icon-widget-positions-orders:before {
    content: "\e845";
  }
  .icon-icon-widget-watchlist:before {
    content: "\e846";
  }
  .icon-icon-amounts-panel:before {
    content: "\e900";
  }
  .icon-icon-expand-widget:before {
    content: "\e901";
  }
  .icon-icon-payment-methods:before {
    content: "\e902";
  }
  .icon-icon-view:before {
    content: "\e907";
  }
  .icon-icon-doc-xls:before {
    content: "\e908";
  }
  .icon-icon-doc-doc:before {
    content: "\e909";
  }
  .icon-icon-print:before {
    content: "\e90a";
  }
  .icon-icon-reports:before {
    content: "\e90b";
  }
  .icon-icon-report-history:before {
    content: "\e90c";
  }
  .icon-icon-doc-pdf:before {
    content: "\e90d";
  }
  .icon-icon-ticket-widget:before {
    content: "\e90e";
  }
}
