@define-mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@define-mixin vertical_center {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}


@define-mixin center {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}
