.watchlist {
    height: 100%;
    min-width: 450px;
    font-family: Lato;
    display: flex;
    flex-direction: column;
}

.backslash {
  margin-bottom: 0px;
}

.content {
    padding: 0;
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;

    :global(.scrollbar-container) {
      width: 100%;
    }
}

.button-content-text {
    position: relative;

    :global(.icon-icon-new-watchlist) {
        padding-right: 7px;
    }
}


.shrinked span {
    display: none;
}

.button-content-icon path {
  fill: white;
}


.select-wrapper {
    min-width: 168px;
}

.select {
    z-index: 10;

    .is-disabled {
        color: $gray;
        font-size: 12px;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.right-box {
  display: flex;
  position: absolute;
  right: 12px;
  top: 12px;
}

.top-bar {
  position: relative;
  padding-right: 145px; /* 90 */
  height: 50px;
  overflow-x: auto;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid $mineShaft;
}

.tab-container {
  display: flex;
  align-items: stretch;
  position: relative;
}

.tab-text {
  color: $gray;
  white-space: nowrap;
  margin-left: 20px;
}

.tab-text:hover {
  cursor: pointer;
}

.tab-text--active {
  color: $white;
  border-bottom: 2px solid $white;
}

.tab-text--disabled:hover {
  cursor: not-allowed;
}

.widgetHeaderButton {
  background: none;
  border: none;
  height: auto;
  color: $gray;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.widgetHeaderButtonIcon {
  margin-right: 6px;
  &:global(.icon-icon-new-watchlist){
    margin-right: 0px;
    font-size:19px;
  }
}

.headDelimiter {
  width: 1px;
  height: 24px;
  background-color: $baseCodeGray;
  align-self: center;
}

.no-data-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-data-icon {
  color: $gray;
  font-size: 60px;
}

.no-data-text {
  color: $gray;
  margin-top: 10px;
  font-size: 20px;
  font-family: Lato;
}


.amounts-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.amount-input {
  color: $white;
  padding: 8px 10px;
  border: 1px solid $tundora;
  border-radius: 5px;
  font-family: Lato;
  width: 190px;
  min-width:64px;
  height: 28px;
  font-size: 14px;

  &.inactive {
    color: $gray;
  }

  &.active {
    background-color: $tundora;
  }
}

.amounts-label {
  color: $gray;
  white-space: nowrap;
  font-size: 12px;
}

.amounts-text-delimiter {
  color: $gray;
  margin-right: 10px;
  font-family: Lato;
  font-size: 12px;
}

.radioButtons {
  margin-left: 10px;
  margin-right: 10px;
}

.radioButtonsShrinked {
  margin-left: 0;
}

:global(._light-theme) {
  .widgetHeaderButton {
    color: $doveGray;
  }

  .headDelimiter {
    background-color: $gray;
  }

  .top-bar {
    border-bottom-color: $white;
  }

  .tab-text--active {
    color: $mineShaftDark;
    border-bottom: 2px solid $mineShaftDark;
  }

  .amounts-label {
    color: $tundora;
  }

  .amount-input {
    border-color: $silver;
    color: $tundora;

    &.active {
      background-color: $silver;
    }
  }

  .amounts-text-delimiter {
    color: $tundora;
  }

}

.amountButton {
  margin-right: 10px;
}
.panel-hidden {
  padding-top: 10px;
}

.amounts-icon {
  font-size: 25px;
  line-height: 17px;
  margin: 0 -4px;
}
