.h2 {
  color: $gray;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
}

.italic {
  font-style: italic;
  color: $boulder;
  font-family: Lato, sans-serif;
}


.centered {
  text-align: center;
}

.clean {
  color: $white;
}


:global(._light-theme) {
  .h2 {
    color: $doveGray;

    &.clean {
      color: $baseCodeGray;
    }
  }
  .italic {
    &.clean {
      color: $boulder;
    }
  }
}
