.container {
    padding: 20px;
    max-width: 400px;
}

.text {
    margin: 10px 0 20px;
    color: white;
    text-align: center;
}

.icon-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 50px;
    color: $white;
}

:global(._light-theme) {
    .text {
        color: $tundora;
    }
    .icon {
        color: $tundora;
    }
}
