.lots {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.label {
	display: flex;
	justify-content: flex-start;
	color: $white;
	font-size: 12px;
	margin-bottom: 3px;
}

.wrapper {
	display: flex;
}

.lot {
	flex-grow: 1;
	padding: 0 3px;
}

.lot__inner {
	font-size: 12px;
	padding: 4px 0 5px 0;
}

.lot:first-of-type {
	padding-left: 0;
}

.lot:last-of-type {
	padding-right: 0;
}

.lot .gui__button {
	width: 100%;
}


:global(._light-theme) {
  .label {
    color: $doveGray;
  }
}
