

.add-board {
    display: flex;
    padding-right: 2px;
}

.input {
    display: flex;
    max-width: 168px;
    align-items: center;
    margin: 0 5px 0 6px;
    padding: 0 6px;
    border-radius: 4px;
    background: $mineShaftLight;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
    color: $white;

    :global(.gui__input) {
      max-width: 100%;
      overflow: hidden;

      input {
        font-size: 14px;
      }
    }

}

.button-content {
    padding: 2px 10px;
}


:global(._light-theme) {
    .input {
        color: $tundora;
        background: white;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    }
}
