

.auto-login {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 20px;
}

.forgot {
    margin-left: 0;
    color: $authFooterLinkColor;
    cursor: pointer;
    font-weight: 600;
    border-bottom: $authForgotLinkDecoration;
}

.text, .header {
    text-align: center;
    font-family: Lato;
}

.header {
    margin: -30px 0 30px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
}

.text {
    margin-bottom: 27px;
    font-size: 20px;
}
