.sort-arrows {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $gray;
  cursor: pointer;
  text-align: right;

    > :first-child {
	    margin-right: 5px;
    }
}
.label {
	font-size: 14px;
}

.arrows {
	display: flex;
	flex-direction: column;
	font-size: 7px;
}


.hidden {
	color: $boulder;
}


:global(._light-theme) {
  .sort-arrows {
    color: $doveGray;
  }
}
