.content-container {
  cursor: default;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.rnd {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
