.header {
  width: 100%;
  color: $white;
  height: $header_height;
  z-index: 7;
  display: flex;
  padding: 0 20px;
  background: #000;
  align-items: center;
  justify-content: space-between;
}

.flex-left,
.flex-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.logo-img,
.logo-text {
  display: inline-block;
  vertical-align: middle;
}

.logo-img {
  width: $logoWidth;
  margin: 0px 0 0 0;
  height: 32px;
  background: url($logoUrl) left center no-repeat;
  background-size: contain;
}

.logo-text {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.navigation {
  height: 100%;
  display: flex;
}

.navigation-link {
  color: $gray;
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  padding: 0 20px;
  align-items: center;
  transition: color 0.2s ease-in;
  &:hover {
    color: $white;
  }
  &:active {
    color: $gray;
  }
  &._active {
    color: $white;
    background-image: $redGradient;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid $mineShaftDark;
  padding-left: 10px;
}

.profile-icons {
  display: flex;
  justify-content: space-between;
}

.profile-icons-icon {
  display: flex;
  align-items: center;
  color: $gray;
  font-size: 18px;
  margin-right: 10px;
  padding:0 6px;
  cursor: pointer;
  transition: color 0.2s ease-in;
  &:hover {
    color: $white;
  }
  &.active {
    color: $gray;
  }
  &:global(.icon-icon-settings-desktop) {
    font-size: 25px;
  }
}

:global(._light-theme) {
  .header {
    background: $white;
  }
  .logo-text {
    color: $tundora;
  }
  .logo-img {
    background-image: url($logoLightUrl);
  }
  .navigation-link {
    color: $doveGray;
    &:hover {
      color: $tundora;
    }
    &._active {
      color: $white;
    }
  }
  .profile{
    border-left: 1px solid $gallery;
  }
  .profile-icons-icon {
    color: $silverChalice;
    &:hover {
      color: $tundora;
    }
    &:active {
      color: $tundora;
    }
  }
}
