.news-panels {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.news-list-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex: 1;
  flex-flow: column;
  border-right: solid 1px $mineShaftDark;
}

.news-list-scroll-wrap {
  display: flex;
  flex: 1;
  flex-flow: column;
  position: relative;
  overflow: hidden;
}

.filters {
  display: flex;
  padding: 10px;
  border-bottom: solid 1px $mineShaftDark;
}

.filter {
  display: block;
  margin-right: 10px;
}

.filter-label {
  display: block;
}

.filter-input {
  display: block;
}

.filter-select {
  display: block;
}

.filter-select-option {
  display: block;
}

.news-list {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.news-list-group {
  display: block;
}

.news-list-group-header {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px $mineShaftDark;
  font-size: 16px;
  font-weight: 700;
  color: $gray;
  margin-left: 10px;
}

.news-list-item {
  display: flex;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: solid 1px $mineShaftDark;
  color: $gray;

  &:hover {
    background-color: $widgetTitleColor;
    color: $white;
  }

  &.selected {
    background-color: $widgetTitleColor;
    color: $white;
  }
}

.news-list-item-header {
  font-size: 16px;
  display: flex;
  overflow: hidden;
}

.news-list-item-header-time {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
}

.news-list-item-header-text {
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}

.news-full-wrapper {
  position: relative;
  width: 50%;
  padding: 16px 20px 20px 20px;
}

.news-full-item {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

.news-full-header {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 25px 0;
  text-transform: capitalize;
  color: $white;
}

.news-full-content {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: $white;
}

.news-dummy-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-dummy {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.news-dummy-text {
  font-size: 18px;
  color: $white;
}

.news-dummy-icon {
  font-size: 45px;
  color: $tundora;
  text-align: center;
  margin-bottom: 12px;
  width: 100px;
  display: flex;

  &:before {
    width: 100px;
    text-align: center;
  }
}

.fadeout {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 50px;
  opacity: 1;
  background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0), rgba(10, 10, 10, 0.8));
}

.fadeout-scroll-spacer {
  height: 65px;
  width: 100%;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pager {
  height: 50px;
  background-color: $codGray;
  display: flex;
  align-items: center;
  color: $white;
  justify-content: space-between;
  padding: 0 20px;
}

.page {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.page-prev {
  display: block;
}

.page-next {
  display: block;
}

:global(._light-theme) {
  .filters {
    border-bottom: solid 1px $white;
  }

  .news-list-wrapper {
    border-right: solid 1px $white;
  }

  .news-list-group-header {
    border-bottom: solid 1px $white;
    color: $tundora;
  }

  .news-list-item {
    border-bottom: solid 1px $white;
    color: $tundora;

    &:hover {
      background-color: $alto;
      color: $tundora;
    }

    &.selected {
      background-color: $alto;
      color: $tundora;
    }
  }

  .fadeout {
    background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0), rgba(254, 254, 254, 0.8));
  }

  .pager {
    color: $tundora;
    background-color: $seashell;
  }

  .news-dummy-icon {
    color: $tundora;
  }

  .news-dummy-text {
    color: $tundora;
  }

  .news-full-content, .news-full-header  {
    color: $tundora;
  }
}
