@import "../../../../../assets/styles/mixins.css";

.create-watchlist {
  width: 881px;
  font-family: Lato;
  color: $white;
  padding: 10px 0 0 0;
}

.scroll-wrapper {
  max-height: 580px;
  min-height: 580px;
  display: flex;
  flex-direction: column;
}

.text {
  flex: 1;
  overflow: auto;
  margin-top: 10px;
}

.no-data {
  height: 470px;
  line-height: 470px;
  font-size: 19px;
  text-align: center;
}

.instrument-row-title {
  font-size: 16px;
  line-height: 16px;
  color: $white;
  margin: 0 27px 0 9px;
  font-weight: 500;
}

.footerButton {
  margin-top: 0;
  width: 220px;
  margin-left: 5px;

  &.first {
    background: #262626;
    border: 1px solid $tundora;
    margin-right: 5px;
    margin-left: 0;
  }

  &.last {}
}

.column-left {
  width: 45%;
}

.column-right {
  width: 55%;
}

.withBorder {
  border-top: 1px solid $mineShaftDark;
  border-bottom: 1px solid $mineShaftDark;
  border-right: 1px solid $mineShaftDark;
}

.row {
  display: flex;
  padding: 0 0 10px 0;
}

.justify-center {
  justify-content: center;
}

.button_right {
  margin-left: 10px;
}

.instruments-title {
  font-size: 16px;
  color: $gray;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.instrument-button {
  width: 20px;
  height: 20px;
  background: $tundora;
  margin: 0 10px 0 0;
  border-radius: 50%;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  color: $white;
  padding-left: 1px;
  display: block;
}

.reorder-hadnler {
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    height: 3px;
    display: block;
    content: "";
    border-top: 1px solid $tundora;
    border-bottom: 1px solid $tundora;
  }

  &:after {
    height: 2px;
    display: block;
    content: "";
    border-bottom: 1px solid $tundora;
  }
}

.new-list-padding {
  padding-left: 10px;
  padding-right: 10px;
}

/* Why so hard? See comments on UF-199 */
.instrument-row-title--light-theme {
  color: $doveGray;
}

@media screen and (max-height: 760px) {
  .scroll-wrapper {
    max-height: 500px;
    min-height: 480px;
  }
}

@media screen and (max-height: 660px) {
  .scroll-wrapper {
    max-height: 420px;
    min-height: 400px
  }
}

:global(._light-theme) {
  .instrument-row-title {
    color: $tundora;
  }

  .new-instrument-row-title {
    color: $tundora;
  }

  .withBorder {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }

  .instruments-title {
    color: $doveGray;
  }

  .instrument-button {
    background: $alto;
    color: $tundora;
  }

  .reorder-hadnler:before, .reorder-hadnler::after {
    border-color: $doveGray;
  }

  .no-data{
    color: $tundora;
  }
}
