.market-depth {
  width: 100%;
  color: $white;
  text-align: center;
  border-bottom: 1px solid $mineShaftDark;
  font-size: 15px;

  th, td {
    width: 33.33%;
    height: 23px;
    line-height: 23px;
    padding: 0;
  }

  td {
    border-right: 1px solid $mineShaftDark;
  }

  th {
    border: 1px solid $mineShaftDark;
    font-weight: normal;
    color: $gray;
    font-size: 14px;
  }

  tr:nth-child(2n) {
    td {
      background: rgba(#d8d8d8, 0.05);

      &.empty {
        background: none;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.separator {

  td {
    background: $mineShaftDark;
    height: 30px;
    line-height: 30px;
  }
}

.row-first {
  border-top: 1px solid $mineShaftDark;
}

.empty {}

.market-depth-container {
  position:relative;
  height:100%;
}


:global(._light-theme) {
  .market-depth {
    color: $tundora;
    border-bottom: 1px solid $white;

    td {
      border-right-color: $white;
    }
    th {
      border-color: $white;
      color: $mineShaftLight;
    }
    tr:nth-child(2n) {
      td {
        background:#eaeaea;

        &.empty {
           background: none;
        }
      }
    }
  }

  .row-first {
    border-top: 1px solid $white;
  }
  .separator {
    td {
      background: $gallery;
    }
  }
}


.loader {
  position: absolute;
  width: 100%;
  height: 100%;
}
