.ticket {
    width: 416px;
}

.no-accounts {
    color: white;
    padding: 10px;
}

.loading {
  height: 100px;
  position: relative;
}

.tooltip {
    background: #f89406;
    padding: 10px 5px;
    margin: 0 11px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    :global(.icon-icon-error) {
        color: white;
        font-size: 20px;
    }
}

.tooltip-error {
  background: $scarlet;
}

.tooltip-text {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    padding-left: 7px;
}
