.instrument-info {
  /* background-color: #868686; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-top: 1px solid $mineShaft;
  border-left: 1px solid $mineShaft;
}

.instrument-info-row-container {
  /* background-color: #868686; */
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  flex-shrink: 0;
  border-top: 1px solid $mineShaft;

  &:first-child {
    border-top: 0;
  }
}

.info-row {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;

  &:first-child {
    margin-top: 0;
  }
}

.header-cell {
  display: flex;
  flex-direction: row;
}

.cell {
  color: $gray;
}

.cell-right {
  color: $white;
  margin-left: 8px;
  font-size: 16px;
}

.instrument-market-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.instrument-market-data-title {
  color: $gray;
  font-size: 14px;
  margin: 0;
  line-height: 1.3;
}

.instrument-info-row-description {
  line-height: 1.3;
  padding-left: 5px;
}

.instrument-market-data-value {
  color: $white;
}

.instrument-info__footer {
  padding: 15px 14px;
  border-top: 1px solid $mineShaft;
  flex-shrink: 0;

  .info-row {
    display: flex;
    justify-content: space-between;

    .text-left {
      color: $white;
    }

    .text-right {
      color: $gray;
    }
  }

  .session-line {
    color: $white;
    margin-top: 16px;
  }

  .session-status {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    .text-left {
      color: $white;
      display: flex;
      align-items: center;

      .circle {
        border-radius: 10px;
        height: 10px;
        width: 10px;
        background-color: rgb(20, 163, 97);
      }

      .text {
        margin-left: 8px;
      }
    }

    .text-right {
      color: $white;
    }
  }
}

:global(._light-theme) {
  .instrument-info-row-container {
    border-top-color: $white;
  }

  .instrument-info {
    border-top: 1px solid $white;
    border-left: 1px solid $white;
  }

  .cell {
    color: $mineShaftLight;
  }

  .cell-right {
    color: $mineShaftDark;
  }

  .instrument-market-data-title {
    color: $mineShaftLight;
  }

  .instrument-market-data-value {
    color: $mineShaftDark;
  }
}
