.button {
  width: 164px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px;
  border-radius: 4px;
  margin-right: 6px;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  cursor: pointer;
  border: 1px solid $tabsBorderColor;
  color: $gray;
  background: $mineShaftDark;
  font-size: 16px;
  font-family: Lato;
  line-height: 26px;

  &[disabled] {
    cursor: default;
  }

  .crop-area {
    text-align: left;
    width: 118px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
  }

  &.active {
    color: $white;
    background-color: $codGray;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  }


  &:hover {
    color: $white;
    background: $codGray;
  }

  &:active {
    color: $doveGray;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0);
  }
}

.cross {
  font-size: 12px;
  color: $gray;
  transition: color 0.1s ease-in;
  cursor: pointer;

  &:hover {
    color: $white;
  }

  &:active {
    color: $doveGray;
  }
}

.first .cross {
  display: none;
}

:global(._light-theme) {
  .cross {
    color: $doveGray;

    &:hover {
      color: $tundora;
    }

    &:active {
      color: $doveGray;
    }
  }

  .button {
    border-color: $silver;
    color: $tundora;
    background: $alto;

    &.active {
      color: $tundora;
      background: $white;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    }


    &:hover {
      color: $tundora;
      background: $alebaster;
    }

    &:active {
      color: $doveGray;
      background: $white;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0);
    }
  }
}
