

.label {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
    width: 95%;
    color: #808080;
}

.info {
	font-size: 14px;
	color: $white;
}

.bill {
	font-size: 14px;
	color: #808080;
}


:global(._light-theme) {

    .info {
        color: $tundora;
    }

    .bill {
        color: grey;
    }
}
