
.panel-content {
  display: flex;
  flex:1;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
}
.method-title-status-icon {
  width: 16px;
  height: 16px;
  font-size: 14px;
  color: $white;
  margin-right: 12px;
&.pending {
   color: #ff9800;
 }
&.accepted {
   color: $salem;
 }
&.rejected {
   color: #eb1d25;
 }
}
.form {
}
.text-center{
  text-align: center;
}
.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.half-width{
  width:50%;
  display:flex;
  &:first-child{
    margin-right: 20px;
  }
}
.btn-group{
  min-width:150px;
}
.form-label {
  font-size: 14px;
  color: $gray;
  flex: 1;
  display: flex;
  align-content: center;
  align-items: center;
}

.form-input-wrapper {
  width: 380px;
  min-height: 30px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.form-checkbox-pad {
  width: 180px;
}

.form-checkbox-wrapper {
  flex: 1;
}

.btn-cancel {
  height:28px;
  width: 200px;
  margin-right: 10px;
  margin-top: 0!important;
  &[disabled]:hover{
    background: $darkGray;
  }
}

.btn-ok {
  height:28px;
  width: 200px;
  margin-top: 0!important;
}



.funds-withdrawal__root {
  width:100%;
}
.withdrawal-form-label{
  color: $gray;
  width:85px;
}

.withdrawal-textarea{
  padding-top:3px;
  resize: none;
  font-family: Lato;
}
.withdrawal-amount-input{
  width:350px;
  margin-right:10px;
}
.cancel-request{
  color: $gray;
}
table.withdrawal{
  width:100%;
}
.withdrawal-table-row{
  border-bottom: 1px solid $widgetTitleColor;
}
.withdrawal-table-cell{
  line-height:25px;
  vertical-align: top;
  padding:12px 10px;
}
.withdrawal-table-cell.icon-cell{
  width:20px;
}
.withdrawal-table-cell.icon-cell .icon:before{
  font-size: 16px;
}
.withdrawal-table-cell.fix-width-lg {
  max-width:300px;
}
.withdrawal-table-cell.fix-width-sm {
  width:100px;
}

.withdrawal-table-cell p {
  color: $gray;
  line-height: 18px;
  font-size: 14px;
  margin:0;
}
.withdrawal-table-cell button{
  font-size: 14px;
  cursor:pointer;
}
.placeholder{
  color: $gray;
}

.funds-withdrawal__root ::-webkit-input-placeholder {
  color:$gray;
  opacity:  1;
}
.funds-withdrawal__root :-ms-input-placeholder {
  color: $gray;
  opacity:  1;
}
.funds-withdrawal__root ::-ms-input-placeholder {
  color: $gray;
  opacity:  1;
}
.funds-withdrawal__root ::placeholder {
  color: $gray;
  opacity:  1;
}

.withdrawal-add {
  padding:10px;
  border-bottom: solid 1px $mineShaft;
}


.transactions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions-dummy {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.transactions-dummy-text {
  font-size: 18px;
  color: $white;
}

.transactions-dummy-icon {
  font-size: 45px;
  color: $tundora;
  text-align: center;
  margin-bottom: 12px;
  width: 100px;
  display: flex;
&:before {
   width: 100px;
   text-align: center;
 }
}


:global(._light-theme) {
  .funds-withdrawal__root {
    .table-row{
      border-bottom: 1px solid $white;
    }
  }
  .withdrawal-add{
    border-color: $white;
  }
  .withdrawal-form-label, .currency , .cancel-request , .withdrawal-table-cell p{
    color: $tundora;
  }
  .placeholder {
    color: $semiDarkGray;
  }
  .funds-withdrawal__root ::-webkit-input-placeholder {
    color: $semiDarkGray;
  }
  .funds-withdrawal__root :-ms-input-placeholder {
    color: $semiDarkGray;
  }
  .funds-withdrawal__root ::-ms-input-placeholder {
    color: $semiDarkGray;
  }
  .funds-withdrawal__root ::placeholder {
    color: $semiDarkGray;
  }
  .withdrawal-table-row{
    border-bottom-color: $white;
  }
  .transactions-dummy-text {
    color: $tundora;
  }
  .btn-cancel {
    &[disabled]:hover{
     background: $seashell;
      border-color: $silver;
   }
  }

}
