.file-upload-dropzone {
    height: 40px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border: dashed 1px rgba(255, 255, 255, 0.25);
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

:global(._light-theme) {
    .file-upload-dropzone {
        border: dashed 1px rgba(98, 70, 103, 0.25);
    }
}
