
@import '../../../../../../../assets/styles/mixins.css';

.instrument-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    border-bottom: 1px solid $mineShaft;
}



.instrument-label {
    margin-right: 10px;
}

.instrument-name-id {
    color: white;
    font-size: 14px;
    margin-bottom: 2px;
}

.instrument-name-details {
    color: $gray;
    font-size: 12px;
}

.other-instrument {
    margin-right: 10px;

    &:last-of-type {
        margin-right: 0;
    }
}


:global(._light-theme) {
    .instrument-info {
        border-bottom: 1px solid white;
    }


    .instrument-name-id {
        color: $tundora;
    }
}
