

.view-selection {
  overflow: hidden;
	color: $white;
	border: 1px solid $tundora;
	display: flex;
	min-width: 73px;
  border-radius: 4px;
  height: 28px;

    > :nth-child(2) {
      border-left: 1px solid $tundora;
      border-right: 1px solid $tundora;
    }
}

.icon {
	color: $white;
	flex-grow: 1;
	position: relative;
	text-align: center;
  cursor: pointer;
  font-size: 9px;
  color: $boulder;

    :global {
        .icon-icon-list-view,
        .icon-icon-block-view {
            font-size:14px;
        }
    }

    &.active {
        background: $tundora;
        color: $white;
    }
}


:global(._light-theme) {

    .view-selection {
        border: solid 1px $alto;

        > :nth-child(2) {
            border-left: 1px solid $alto;
            border-right: 1px solid $alto;
        }


        .icon {
            path {
                fill: $silver;
            }

            &.active {
                background-color: $alto;

                path {
                    fill: $tundora;
                }
            }
        }
    }

    .icon {
      color: $silverChalice;
      &.active {
        color: $tundora
      }
    }
}
