

.label {
	display: block;
}

.label-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.label-box-text {
	color: $white;
	font-family: Menlo-Bold;
}


:global(._light-theme) {
    .label.gray {
        color: $tundora !important;

        .label-box-text,
        .label-box {
                background: $silver !important
        }
    }

}

