.radio-buttons-container {
  display: flex;
  align-items: center;
}

.radio-button {
  color: $white;
  border: 1px solid $tundora;
  border-radius: 5px;
  padding: 8px 10px;
  margin-left: 8px;
}

.radio-button:hover {
  cursor: pointer;
}

.radio-button--active {
  background-color: $tundora;
}

:global(._light-theme) {
  .radio-button {
    color: $tundora;
    border-color: $silver;
  }

  .radio-button--active {
    background-color: $silver;
  }
}
