@import "react-datepicker/dist/react-datepicker.css";

.filters {
  width:100%;
  display: flex;
  align-items:center;
  padding: 10px;
  border-bottom: solid 1px $mineShaftDark;
}

.filter {
  display: block;
  margin-right: 10px;
  flex-grow: 2;
}
.date-input-border{
  border: 1px solid $tundora;
  border-radius: 4px;
}
.date-input{
  min-width:130px;
  & input{
    padding-left:10px;
  }
}
.date-range{
  min-width:300px;
  font-size: 12px;
}
.filter-label {
  display: block;
  font-size: 12px;
  color: $gray;
  margin-bottom:5px;
}

.filter-input {
  display: block;
}

.filter-select {
  min-width: 180px;
}

.filter-select-option {
  display: block;
}


:global(._light-theme) {
  .filters{
    border-bottom-color: $white;
  }
  .date-input-border{
    border-color: $silver;
  }
  .filters :global(.react-datepicker__input-container input) {
    background-color: transparent;
  }
  .filter-label , .date-label{
      color: $doveGray;
  }
}
