


.table {
    width: 100%;
}

.row {
    text-align: right;
}

&:last-of-type :nth-child(n) {
    padding-bottom: 0;
}
            
.cell, .header {
    padding-bottom: 7px;
}

.header {
    color: $gray;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    
    &._white {
        color: white;
    }
    
    &._first {
        text-align: left;
    }
}

.cell {
    color: white;
    font-size: 14px;
}