@import '../../assets/styles/mixins.css';


.time-range {
    @add-mixin flex-center;
}

.label {
	color: $gray;
	font-size: 12px;
	font-family: Lato;
	margin-right: 9px;
}

.ranges {
	color: $scorpion;
	border: solid 1px $tundora;
	display: flex;
	overflow: hidden;
	font-size: 10px;
	font-family: Lato;
	font-weight: bold;
	border-radius: 4px;
}

.range-elm {
	display: flex;
	padding: 4px;
	border-right: 1px solid $tundora;
	cursor: pointer;

    &._selected {
        color: $white;
        background: $tundora;
    }

    &:last-of-type {
        border: none;
    }
}

:global(._light-theme) {
    .ranges {
        color: $silver;
        border: 1px solid $silver;
    }

    .range-elm {
        border-right: 1px solid $silver;

        &._selected {
            color: $tundora;
            background: $silver;
        }

        &:last-of-type {
            border: none;
        }
    }
}
