.notification-center {
  position: relative;
  margin-right: 10px;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: $gray;
  transition: color 0.2s ease-in;
  &:hover,
  &.active {
    color: $white;
  }
  &.has-messages:after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-image: linear-gradient(to bottom, #f81919, #ff4000);
    border-radius: 50%;
    right: 0;
    top: 0;
  }
}

.popup {
  position: absolute;
  top: 35px;
  width: 300px;
  left: -133px;
  border: 2px solid #2a2a2a;
  background-color: $baseCodeGray;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  z-index: 99999;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 8px 4px;
    border-color: transparent transparent #2a2a2a transparent;
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -4px;
  }
}

.messages {
  height: 425px;
  overflow: hidden;
}

.message {
  word-break: break-all;
  padding: 7px 9px;
  border-bottom: 1px solid #2a2a2a;
  display: flex;
}

.small-text{
  font-size:14px;
}

.seen {
  color: #808080;
}

.time {
  width: 53px;
  min-width: 53px;
  padding-right: 14px;
  font-size: 14px;
}

.text {
  font-size: 12px;
}

.text__date {
  color: #808080;
  margin: 9px 0 8px;
  font-size: 10px;
}

.title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  margin: 10px 50px;

}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
}


:global(._light-theme) {
  .popup {
    background-color: $concrete;
    border-color: #fff5ee;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    &:before {
      border-color: transparent transparent #fff5ee transparent;
    }

  }
  .message {
    border-bottom-color: $white;
    color: $tundora;
    &.seen {
      color: $boulder;
    }
  }
  .icon {
    color: $silverChalice;
    &:hover,
    &.active {
      color: $doveGray;
    }
  }
}
