.header {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $mineShaftLight;
  width: 100%;
  transition: background ease 0.3s;
}

.header-title {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  color: $white;
  padding: 0 10px;
  font-size: 16px;
  line-height: 16px;
  border: 0;
  transition: color ease 0.3s;
  white-space: nowrap;
  font-weight: 500;
}

.active {
  background: $white;
  color: $mineShaftDark;
}

.is-clickable {
  cursor: pointer;
}

.header-title-container {
  display: flex;
  flex-direction: row;
  margin: 0 -3px;
  flex: 1;
  width: calc(100% - 28px);
}

.header-button-container {
  display: flex;
  flex-direction: row;
  padding: 0 5px 0 0;
}

:global(.header-icon) {
  padding-right: 3px;
}

.header-button {
  background: none;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $gray;
  font-size: 12px;
  cursor: pointer;
}

.window {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: $baseCodeGray;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  border: 3px solid $mineShaftLight;
  border-top: none;
  overflow: auto;

  transition: background ease 0.3s;
}

.full-width {
  width: 100%;
  flex: 1;
}

.full-height {
  height: calc(100% - 10px);
  margin-top: 10px;
  flex: 1;
}

.header-hidden {
  border-top: 3px solid $mineShaftLight;
}

:global(._light-theme) {
  .header {
    background: $white;
  }

  .header-title {
    color: $tundora;
  }

  .active {
    background: $tundora;
    color: $white;
  }

  .header-button {
    color: $tundora;
  }

  .window {
    background: $concrete;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    border-color: $white;
  }
}
