$footerPadding: 12px;
$margin_value: 5px;

.footer {
  display: flex;
  padding: 5px $footerPadding 7px;
  align-items: center;
  justify-content: space-between;
  font-family: Lato;
}

.leftBox,
.rightBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightBox {
  margin-left: auto;
}

.element {
  margin-right: 10px;
}

.info {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .tooltip {
      display: flex;
      opacity: 1;
    }
  }
}

.circle {
  width: 10px;
  height: 10px;
  background: $salem;
  margin-right: 5px;
  border-radius: 5px;
}

.circle-warn {
  background: rgb(248, 148, 6);
}

.circle-error {
  background: $scarlet;
}

.text {
  color: $gray;
}

.value {
  color: $white;
  margin-left: 5px;
}

.bar {
  width: 109px;
  height: 18px;
  overflow: hidden;
  background: $mineShaftLight;
  margin-left: 5px;
  border-radius: 4px;
}

.barFiller {
  height: 100%;
  background: $salem;
}

.tooltip {
  background: #f89406;
  position: absolute;
  width: 280px;
  bottom: 25px;
  right: -120px;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  display: none;
  z-index: 1000;

  :global(.icon-icon-error) {
    color: white;
    font-size: 20px;
  }

  &:after {
    position: absolute;
    bottom: -5px;
    right: 120px;
    margin-left: -3px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #f89306 transparent transparent transparent;
  }

  &.error {
    background: $scarlet;

    &:after {
      border-color: $scarlet transparent transparent transparent;
    }
  }
}

.error {}

.tooltip-text {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  padding-left: 10px;
}

:global(._light-theme) {
  .text {
    color: $boulder;
  }

  .value {
    color: $tundora;
    border-bottom-color: $tundora;
  }

  .bar {
    background: $silver;
  }
}

@media only screen and (max-width: 1380px) {
  .bar {
    display: none;
  }
  .text {
    font-size: 14px;
  }

  .value {
    font-size: 15px;
  }

  .rightBox {
    .text,
    .value {
      display: none;
    }
  }

  .tooltip {
    right: -12px;

    &:after {
      right: 12px;
    }
  }
}
