.form {
}

.row {
    padding: 20px;

    &.with-border {
        border-bottom: 1px solid #2a2a2a;
    }

    & h2{
      line-height: normal;
      & + span{
        display:inline-block;
        margin-top:12px;
      }
    }
}

.row-group {
    padding-top: 9px;
}

.text {
  color: white;
}

.changeCodeButton {
  height: 29px;
  margin-top: 0;
  margin-left: 5px;
}

.inputDisabled {
  color: $tundora;
  border-color: $tundora;
}

.textDisabled {
  color: $tundora;
}

.codeTextContainer {
  display: flex;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label-text {
  padding-left: 10px;
}
.resendCodeButton {
  color: $semiDarkGray;
  margin-left: 8px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: $tundora;

    &:active {
      opacity: 1;
    }

    &:hover {
      cursor: default;
    }
  }

  &:active {
    opacity: 0.8;
  }

  .resendCodeButtonIcon {
    color: inherit;
    width: 16px;
    height: 20px;
  }

  .sendSmsButtonText {
    color: inherit;
    margin-left: 6px;
  }

}

.changeCodeContainer {
  width: 230px;
  display: flex;
  align-items: center;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #2a2a2a;
}

.btn {
    width: 182px;
    margin: 0 5px;
}


.settings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sections{
  flex-grow:2;
  background: $settings;
  width:450px;
  height:550px;
}
.tabs {
  width:150px;
  background: $baseCodeGray;
  align-self: stretch;
  border-right: 2px solid $widgetTitleColor;
}

.tab {
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  color: $gray;
  padding-left:10px;
  &.active {
    color: $white;
    background-color: $mineShaftLight;
  }
}

.button-link {
  margin-left: 8px;
}
.instruments{}

.active {
  background: $baseCodeGray;
}

:global(._light-theme) {
  .text {
    color: $tundora;
  }

  .row {
    &.with-border {
      border-bottom: 1px solid $white;
    }
  }
  .footer {
    border-top: 1px solid $white;
  }

  .inputDisabled {
    color: $gray;
    border-color: $gray;
  }

  .textDisabled {
    color: $gray;
  }

  .resendCodeButton {
    color: $tundora;

    &:disabled {
      color: $gray;
    }
  }

  .tabs {
    background: $seashell;
    border-right-color: $white;
  }

  .tab {
    background-color: transparent;

    color: $tundora;
    &.active {
      color: $tundora;
      background-color: $white;
    }
  }
  .sections{
    background: transparent;
  }
  .instrument-label, .appearance-tab, .colorized-quotes, .accept{
    color:$tundora;
  }
  .accept{
    & span {color: $tundora!important;}
  }
  .cropp-footer{
    background: transparent;
  }
  .appearance-tab{
    & > span{
      color:$doveGray;
    }
  }
  .pic{
    background:$userPicLight;
  }
}

.appearance-tab{
  color: $gray;
  font-size: 16px;
  font-weight: 600;
}
.colorized-quotes{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  color: $white;
  margin-top:20px;
  font-size:14px;
}
.theme{
  margin-top:5px;
}
.instrument{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.instrument-label{
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: row;
  height:40px;
  width:100px;
  & span{
    margin-left:10px;
    font-size:14px;
  }
}

.values{
  display:flex;
  flex-grow:2;
  flex-direction:column;
  flex-wrap: wrap;
  height:200px;
  & > div{
    width:calc(50% - 20px);
    margin-left:20px;
  }
}
.value{
  display: flex;
  flex-direction: row;
  color:$white;
  align-items: center;
}
.reset > div {
  margin-bottom: 10px;
}
.right{
  display: flex;
  justify-content: flex-end;
}
.flag{
  position:absolute;
  top:7px;
  left:6px;
}
.left-padding{
  padding-left:35px;
}
.user-pic{
  display:flex;
  flex-direction:row;
  align-items: center;
  color: $white;
  & > div{
    margin-right:10px;
  }
}
.picBtn{
  margin-top:0;
}
.pic{
  border-radius:50%;
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  background: $userPic;
  margin-right:5px;

  & i{
    font-size:29px;
    color: $tundora;
  }
  & img{
    width:100%;
    height:100%;
    border-radius: 50%;
  }
}
.accept{
  font-size:14px;
}
.code{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.clearMargin{
 margin:0px;
}
.cropper{
  width:445px;
  height:400px;
}
.smallBtn{
  height:28px;
  margin:0 5px;
  padding:0 25px;
}
.cropp-footer{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: $baseCodeGray;
  position:absolute;
  bottom:0;
  width:100%;
}
.cropper-header{
  padding:16px 65px 18px;
  text-align: center;
  font-size: 14px;
}
.resend{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.amountTab{
  font-size:12px!important;
  font-weight:600!important;
  width:42px;
  border-radius: 4px!important;
  padding:7px 4px 5px!important;
  text-align: center;
  overflow: hidden;
}
.amount{
  margin-right:5px;
}
