.button {
	width: 100%;

    &:hover {
        cursor: pointer;
    }

    &.send-code {
        color: $authSendCodeColor;
        padding: 12px 0 14px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        border-radius: 8px;
        background-color: $authSendCodeBg;
        border: solid 1px $authSendCodeBorderColor;

        &[disabled] {
            background: $authSendCodeBgDisabled;
            color: $authSendCodeColorDisabled;
            cursor: not-allowed;
        }
    }

    &.open-account {
        border-radius: 8px;
        background-image: $submitButtonBg;
        font-family: Lato;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: $white;
        padding: 13px 0 17px;

        &[disabled] {
            background-image: $submitButtonBgDisabled;
            color: rgba(255,255,255,0.3);
            cursor: not-allowed;
        }
    }

    &.cancel {
        color: $white;
        padding: 12px 0 14px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        border-radius: 8px;
        background-color: #272727;
        border: solid 1px #272727;

        &[disabled] {
            background: #272727;
            color: $darkGray;
        }
    }

    &.account-type {
        height: 60px;
        line-height: 55px;
        border-radius: 8px;
        border: 1px solid tundora;
        font-size: 20px;
        color: #808080;
        padding: 0;

        &.active {
            border-color: scarlet;
            color: #f40;
        }
    }
}
