.footer {
  border-top: 1px solid $widgetTitleColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  > * {
    margin: 0 6px;
  }
}


:global(._light-theme) {
  .footer {
    border-top-color: $white;
  }
}
