.gdpr-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: $mineShaftDark;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;

  p {
    margin: 0;
    padding: 4px 0 0 0;
  }

  a {
    text-decoration: underline;
  }
}

.ok-button {
  padding: 6px  10px;
  display: block;
}
