
.panels {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.panel {
    width: 50%;
    position: relative;
    &:first-child {
        margin-right: 10px;
    }
}


.panel-content {
    flex: 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;
    /* background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0), rgba(10, 10, 10, 0.8)); */
}

.content-title {
    font-size: 20px;
    color: $gray;
    text-align: center;
    line-height: 1.6;
    padding-top: 10px;
}

.form {
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.form-label {
    font-size: 14px;
    color: $gray;
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;
}

.form-input-wrapper {
    width: 380px;
    min-height: 30px;
}

.form-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: $baseCodeGray;
    border-top: solid 1px $mineShaft;
    margin-top: auto;
}

.form-checkbox-pad {
    width: 180px;
}

.form-checkbox-wrapper {
    flex: 1;
}

.btn-cancel {
    height: 40px;
    width: 200px;
    margin-right: 10px;
    margin-top: 0!important;
}

.btn-ok {
    height: 40px;
    width: 200px;
    margin-top: 0!important;
}

.methods-list {
    display: block;
    padding: 10px;
}

.method-item {
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.method-title {
    border: solid 1px $tundora;
    border-radius: 4px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: $mineShaft;
    cursor: pointer;
}

.method-title-cur {
    font-size: 18px;
    color: $gray;
    margin-right: 8px;
}

.method-title-text {
    font-size: 18px;
    color: $white;
}

.method-title-status {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.method-title-status-icon {
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: $white;
    margin-right: 12px;
    &.pending {
        color: #ff9800;
    }
    &.accepted {
        color: $salem;
    }
    &.rejected {
        color: #eb1d25;
    }
}

.method-title-status-arrow {
    width: 9px;
    height: 9px;
    font-size: 9px;
    color: $gray;
}

.method-title-status-arrow-up {
    transform: rotate(180deg);
}

.method-main {
    padding: 12px;
    border: solid 1px $tundora;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -2px;
}

.method-message {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: rgba(228, 28, 35, 0.08);
    border: solid 1px #e6212b;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #eb1d25;
}

.method-c-wrapper {
    margin-top: 28px;
    display: flex;
}

.method-content {
    flex: 1;
    margin-left: 10px;
}

.method-content-row {
    display: flex;
    margin-bottom: 12px;
}

.method-content-row-title {
    font-size: 14px;
    color: $gray;
    width: 25%;
}

.method-content-row-text {
    font-size: 14px;
    color: $white;
    line-height: 1.29;
    width: 75%;
    padding-left: 23px;
}

.method-delete {
    width: 83px;
    min-width: 83px;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background-color: $mineShaft;
    border: solid 1px $tundora;
    margin-left: 25px;
    display: flex;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    padding: 0 9px 0 10px;
    justify-content: center;
    cursor: pointer;
}

.method-delete-icon {
    font-size: 14px;
    color: $white;
    margin-top: -1px;
    margin-right: 3px;
}

.methods-footer {
    padding: 10px;
    min-height: 61px;
    display: flex;
    justify-content: center;
    background-color: $baseCodeGray;
    border-top: solid 1px $mineShaft;
    margin-top: auto;
}
.transactions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions-dummy {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.transactions-dummy-text {
  font-size: 18px;
  color: $white;
}

.transactions-dummy-icon {
  font-size: 60px;
  color: $tundora;
  text-align: center;
  margin-bottom: 12px;
  width: 100px;
  display: flex;
&:before {
   width: 100px;
   text-align: center;
 }
}



:global(._light-theme) {
    .wrapper {
        color: $tundora;
    }

    .top-button {
        color: $ tundora;
        background: $white;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);

        &.current {
            color: $tundora;
            background: $alto;
        }

        &:hover {
            color: $tundora;
            background: $alebaster;
        }

        &:active {
            color: $doveGray;
            background: $white;
            box-shadow: 0 2px 6px 2px rgba(0,0,0,0);
        }
    }

    .content-title {
        color: $tundora;
    }

    .methods-footer {
        background: $silver;
        border-top: solid 1px $white;
    }

    .form-footer {
        background: $silver;
        border-top: solid 1px $white;
    }

    .transactions-dummy-text {
        color: $tundora;
    }

    .method-title {
        border: solid 1px $tundora;
        background-color: $concrete;
    }

    .method-title-text {
        color: $tundora;
    }

    .method-content-row-text {
        color: $black;
    }

    .method-title-cur {
      color: $doveGray;
    }

    .method-title-text {
      color: $tundora;
    }

    .method-content-row-text {
      color: $black;
    }

    .method-content-row-title {
      color: $doveGray;
    }
}
