.panel {
    flex: 1;
}
.resizeable-cell {
    width: 100%;
    height: 100%;
}

.no-data-container {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  font-size: 60px;
  display: flex;
  margin-bottom: 20px;
  width: 100px;

  &:before {
    margin: 0;
  }
}


:global(._light-theme) {
  .no-data-container {

    color: $tundora;

    .icon {
      color: $gray;
    }
  }
}
