.overview {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: Lato;
	min-width: 450px;
  overflow: hidden;
}

.label {
	margin-right: 10px;
}

.market-status {
	margin-right: 10px;
}

.left-box,
.right-box,
.filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-box{
	color: $white;
}

.data-error {
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  padding: 0 40px;
}

.no-data {
  display: flex;
  justify-content: center;
  color: $white;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;

  :global(.icon-icon-widget-chart) {
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.graphic {
	flex: 1;
	overflow: hidden;
  border-top: 1px solid $mineShaft;
  display: flex;
  flex-direction: column;
  :global(.react-stockcharts-y-axis .tick text),
  :global(.react-stockcharts-x-axis .tick text) {
      font-size: 12px;
      color: #808080;
      font-family: Lato;
  }

  :global(.react-stockcharts-x-axis-second .tick text) {
      transform: translateY(-20px);
  }

  :global(.react-stockcharts-crosshair line) {
      stroke-width: 1.5;
      opacity: 1;
  }

  :global(.react-stockcharts-coordinate-x) {
      transform: translateY(-6px);
  }

  :global(.react-stockcharts-coordinate-y) {
      transform: translateX(-6px);
  }
}

.instrument-info {
  display: flex;
  flex: 1;
}

.instrument-info--narrow {
  flex-direction: column;
}

.row {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid $mineShaft;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	min-height: 43px;
}

.instrument {
	display: flex;

    .label {
        margin-right: 10px;
    }

    .text {
        color: $white;
        padding-right: 20px;

        .name {
            margin-bottom: 3px;
            font-size: 16px;
        }

        .code {
            color: $gray;
            font-size: 14px;
        }
    }
}

.market-status {
    .top-text {
        margin-bottom: 3px;
        font-size: 16px;
    }

    .bottom {
        display: flex;
        font-size: 14px;
        align-items: center;

        .text {
            color: $gray;
            margin-right: 4px;
        }

        .circle {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: relative;
            top: 1px;

            &._positive {
                background: $salem !important;
            }

            &._negative {
                background: $scarlet !important;
            }
        }
    }
}

.button {
	padding: 6px 10px 7px 10px;
	text-align: center;
}



.interval-select-wrapper {
  font-size: 12px;
  margin: 15px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interval-select-label {
  padding-right: 10px;
  color: $white;
  font-size: 13px;
}

.interval-selector {
  font-size: 12px;
  width: 110px;
}

.interval-select-wrapper .Select-placeholder {
  line-height: 19px;
}

.interval-select .Select-control {
  height: 20px;
}

.interval-select .Select-input {
  height: 18px;
}

.interval-select .Select-value {
  line-height: 18px !important;
}

.interval-select .Select-arrow {
  top: 3px;
}

.loader-style {
  position: relative;
  height: 100%;
  & > div {
    background: transparent;
  }
}

:global(._light-theme) {
  .overview {
    .instrument {
      .text .name {
        color: $tundora;
      }
    }

    .data-error {
      color: $tundora;
    }
  }

  .market-status {
    .top-text {
      color: $tundora;
    }
  }

  .interval-select-label {
    color: $tundora;
  }

  .overall, .info, .row {
    border-bottom: 1px solid white;
  }

  .graphic {
    border-top: 1px solid white;
  }

  .instrument {
    .text {
      .code {
        color: $doveGray;
      }
    }
  }

  .market-status {
    .bottom {
      .text {
        color: $doveGray;
      }
    }
  }

  .loader-style {
    & > div {
      background: transparent;
    }
  }

  .no-data   {
    color: $doveGray;
  }
}
