.blocker {
	width: 100%;
	min-height: 100vh;
	color: $white;
	z-index: 11000;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	background: #000;
	align-items: center;
	padding: 86px 10px 10px 10px;
	flex-direction: column;
	background: url($backBg) no-repeat center;
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.5);
    }

}

.blocker-logo {
	text-align: center;
}

.blocker-logo img {
	width: 180px;

}

.logo-text {
	font-size: 36px;
	letter-spacing: 13.5px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

.blocker-text {
	line-height: 1.75;
	font-size: 16px;
	margin-top: 34px;
	text-align: center;
}

@media (max-width: 320px) {
	.blocker-text {
		font-size: 14px;
	}
}

.blocker-ios {
	width: 133px;
	height: 38px;
	margin-top: 43px;
}

.blocker-ios svg {
	width: 133px;
	height: 38px;
	fill: #000;
}

@media (max-width: 1001px), (max-height: 600px) {
	.blocker {
		display: flex;
	}
}

.app-wrapper {
  overflow: hidden;
	height: 100%;
}

@media (max-width: 1001px), (max-height: 600px) {
	.app-wrapper {
		display: none;
	}
}

:global(.pull-right) {
    float: right;
}
