.dashboard {
  height: calc(100% - 28px);
  display: flex;
  flex-direction: column;
  background: $baseCodeGray;
  transition: all 0.4s ease-out;
  margin: 0 -10px;
  padding: 0 10px;
}

.no-header {
  margin-top: -$header_height;
  height: calc(100% + $header_height - 28px);
  position: relative;
}

.row {
  width: 100%;
  padding-top: 10px;
}

:global(._light-theme) {
  .dashboard {
    background: $seashell;
  }
}
