.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in, border-color 0.1s ease-in, color 0.1s ease-in;
  padding: 0 10px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;

  &:disabled, &:disabled * {
    cursor: not-allowed;
  }

  &.big {
    height: 40px;
    font-weight: bold;
  }
  &.full-width {
    width: 100%;
  }
  &.primary,
  &.secondary,
  &.tertiary,
  &.colored {
    &.pressed {
      opacity: 0.5;
      box-shadow: 0 0 4px 2px rgba(transparent, 0.5);
    }
    &:disabled {
      background-color: $darkGray;
    }
  }
  &.primary,
  &.secondary,
  &.tertiary {
    color: white;
    svg path {
      fill: white;
    }
  }
  &.primary {
    background-color: $tundora;
    border: 1px solid $tundora;
    &:focus {
      box-shadow: 0 0 4px 2px rgba(112, 112, 112, 0.2);
    }
    &:hover {
      background-color: $doveGray;
      border-color: $doveGray;
    }
    &:disabled {
      background-color: $darkGray;
      border-color: $darkGray;
      color: $boulder;
    }
  }
  &.secondary {
    background-color: $mineShaftDark;
    border: 1px solid $tundora;
    &:focus {
      box-shadow: 0 0 4px 2px rgba(111, 111, 111, 0.2);
    }
    &:hover {
      background-color: $tundora;
    }
  }
  &.tertiary {
    background-color: $baseCodeGray;
    border: 1px solid $doveGray;
    &:focus {
      box-shadow: 0 0 4px 2px rgba(111, 111, 112, 0.2);
    }
    &:hover {
      border: solid 1px $silver;
      color: $silver;
    }
  }
  &.smaller {
    font-size: 12px;
  }
  &.colored {
    background-image: linear-gradient(to bottom, $torchRed, $vermilion);
    &:focus {
      box-shadow: 0 0 4px 2px $tunderbird;
    }
  }
  &.with-margin {
    margin-right: 10px;
  }
}

:global(._light-theme) {
  .button {
    &.primary,
    &.secondary,
    &.tertiary,
    &.colored {
      &.pressed {
        box-shadow: 0 0 4px 2px rgba(transparent, 0) !important;
      }
    }
    &.primary,
    &.secondary {
      color: $tundora;
      svg path {
        fill: $tundora;
      }
    }
    &.primary {
      background-color: $alto;
      border: 1px solid $alto;
      &:focus {
        box-shadow: 0 0 4px 2px rgba(112, 112, 112, 0.2);
      }
      &:hover {
        background-color: $gallery;
        border-color: $gallery;
      }
      &.pressed {
        background-color: $silver;
      }
      &[disabled] {
        background-color: $gallery;
        border-color: $gallery;
        color: $silverChalice;
        svg path {
          fill: $silverChalice;
        }
      }
    }
    &.secondary {
      color: $silver;
      border: solid 1px $silver;
      background-color: $seashell;
      &:focus {
        box-shadow: 0 0 4px 2px rgba(111, 111, 111, 0.1);
      }
      &:hover {
        background-color: $alebaster;
        border-color: $alto;
      }
    }
    &.tertiary {
      background-color: transparent;
      border: solid 1px $silver;
      color: $doveGray;
      &:focus {
        box-shadow: 0 0 4px 2px rgba(112, 112, 112, 0.1);
      }
      &:hover {
        border: solid 1px $silverChalice;
        color: $tundora;
      }
    }
    &.colored {
      background-image: linear-gradient(to bottom, $torchRed, $vermilion);
    }
    &:focus {
      box-shadow: 0 0 4px 2px $tunderbird;
    }
  }
}
