@import "../../assets/styles/mixins.css";

.search-field {
  position: relative;
  border: solid 1px $tundora;
  border-radius: 4px;
  width: 100%;
}

.loupe {
  @add-mixin vertical_center;

  left: 6px;
  position: absolute;
  color: $gray;
  font-size: 14px;
  top: 1px;

  i {
    padding-right: 4px;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 6px 0 6px 27px;
  background: transparent;
  font-size: 14px;
  text-align: left;
  font-family: Lato;
  color: $white;

  &::placeholder {
    color: $gray;
  }
}

:global(._light-theme) {
  .search-field {
    border-color: $gray;
  }

  .input {
    color: $tundora;

    &::placeholder {
      color: $doveGray;
      opacity: 0.7;
    }
  }

  .loupe {
    color: $doveGray;
    opacity: 0.7;
  }
}
