
@import '../../../../../../../assets/styles/mixins.css';

.table {
    width: 100%;
}
.row {
    text-align: right;

    &:last-child {
        padding-bottom: 0;
    }
}
.cell, .header {
    padding-bottom: 7px;
}

.header {
    color: $gray;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;

    &.white {
        color: white;
    }

    &.first {
        text-align: left;
    }
}

.cell {
    color: white;
    font-size: 14px;
}


:global(._light-theme) {
    .header {
        color: $doveGray;

        &.white {
          color: $tundora;
        }
    }

    .cell {
        color: $tundora;
    }
}
