.ticketIcon{
  margin-right:5px;
}



.loader {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tooltip {
  background: #f89406;
  padding: 10px 5px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  :global(.icon-icon-error) {
    color: white;
    font-size: 20px;
  }
}

.tooltip-error {
  background: $scarlet;
}

.tooltip-text {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  padding-left: 7px;
}


.sell{
  background: $salem!important;
  color: $white!important;
  &:disabled{
    opacity: 0.3;
  }
}

.buy{
  background: $buttonBuyFillColor!important;
  color: $white!important;
  &:disabled{
     opacity: 0.3;
  }
}
.loading {
  height: 100%;
  width: 100%;
  position: relative;
}
.row{
  padding: 0;
  margin: 10px;
}
.icon{
  font-size:50px;
}
.no-data{
  width:100%;
  height:100%;
  padding:30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  & p{
    text-align: center;
  }
  & .ticketIcon{
    & path{
      fill: $tundora;
    }
  }
}
:global(._light-theme){
  .ticketIcon{
    & path{
      fill:#fff;
    }
  }
  .no-data{
    color:$tundora;
    .ticketIcon{
      & path{
        fill: $tundora;
      }
    }
  }
}
