.wrapper {
    color: $white;
    height: 100%;
    font-family: Lato, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-flow: column;
}

.top-bar {
    display: flex;
    padding: 8px 0 0 0;
    width: 100%;
}

.top-button {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    border-radius: 4px;
    margin-right: 6px;
    transition: color 0.1s ease-in, background 0.1s ease-in;
    cursor: pointer;
    font-size: 14px;
    font-family: Lato, Arial, sans-serif;
    line-height: 28px;
    color: $scorpion;
    background: $mineShaftDark;
    &[disabled] {
        cursor: default;
    }
    &.current {
        color: $white;
        background-color: $codGray;
        box-shadow: 0 2px 6px 2px rgba(0,0,0,0.5);
        line-height: 38px;
    }
    &:hover {
        color: $white;
        background: $codGray;
    }
    &:active {
        color: #808080;
        box-shadow: 0 2px 6px 2px rgba(0,0,0,0);
    }
}



:global(._light-theme) {
    .wrapper {
        color: $tundora;
    }

    .top-button {
        color: $ tundora;
        background: $white;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid $silver;
        background: $alto;
        &.current {
            color: $doveGray;
            background: $white;
        }

        &:hover {
            color: $tundora;
            background: $alebaster;
        }

        &:active {
            color: $doveGray;
            background: $white;
            box-shadow: 0 2px 6px 2px rgba(0,0,0,0);
        }
    }

    .content-title {
        color: $tundora;
    }
}
