
.container {
  width: 370px;
  position: relative;

}

.label {
  position: absolute;
  left: -160px;
  width: 140px;
  font-family: Lato;
  font-size: 18px;
  text-align: right;
  margin: 0;
  font-size: 20px;
}

.accounts-group:not(:last-child) {
  padding-bottom: 32px;
}


.label-small {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: $gray;
  margin-top: 0;
  margin-bottom: 8px;
}

.account-wrapper:not(:first-child) {
  margin-top: 18px;
}

.account-row {
  height: 50px;
  border-radius: 8px;
  background-color: $demoAccountBackgroundColorColor;
  border: solid 1px transparent;
  font-family: Lato;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  color: #bababa;
  margin-bottom: 10px;
  cursor: pointer;

  &.active, &:hover {
    border-color: $demoAccountBorderColor;
  }
}

.disabled {
  cursor: not-allowed;

  &.active, &:hover {
    border-color: transparent;
  }
}

.name-container {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.balance-sum {
  white-space: nowrap;
  padding-right: 4px;
}

.account-row-small {
  height: 32px;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #bababa;
  font-size: 14px;
  padding: 6px 0;

  &:hover {
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }

    .account-name, .balance-sum {
      color: white;
      .edit-icon {
        opacity: 1;
      }
    }
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  line-height: 16px;
  padding-left: 3px;

  .checkbox-icon {
    color: white;
    width: 14px;
    height: 10px;
  }

  &.active {
    background: $salem;
  }
  &.hidden{
    visibility: hidden;
  }
}

.disabled {
  &.checkbox, &.checkbox-small {
    border-color: transparent;
  }
}

.account-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
  display: flex;
  white-space: nowrap;
  margin-right: 10px;
  flex-direction: row;
}

.checkbox-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  min-width: 15px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  line-height: 16px;
  padding-left: 3.5px;
  padding-top: 1px;

  &.active {
    background: $salem;
  }

  .checkbox-icon {
    width: 9px;
    color: white;
    height: 7px;
  }

  &.hidden{
    visibility: hidden;
  }
}

.account-name-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}

.balance {
  margin-left: auto;
  flex: 0 0 auto;
}

.checkbox-icon {
  font-size: 12px;
  color: white;
  position: relative;
  left: -2px;
  top: 0px;
}

.trade-button {
}

.logout-link {
  width: 67px;
  height: 24px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.logout-link-container {
  margin-top: 33px;
  text-align: center;
}

.not-verified {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.edit-icon {
  opacity: 0;
  padding-left: 5px;
  cursor: pointer;
}

.name-input {
  border-radius: 4px;
  border: solid 1px $tundora;
  margin-right: 5px;
  flex: 1;
  padding: 0 5px;
  height: 26px;
}

.name-ok-btn {
  width: 39px;
  height: 27px;
  border-radius: 4px;
  background-color: $tundora;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

:global(._light-theme) {
  .label-small {
    color: $doveGray;
  }
  .account-row-small {
    color: $doveGray;
    &:hover {
      .account-name, .balance-sum {
        color: $doveGray;
      }
    }
  }

  .checkbox-small {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .name-input {
    border-color: $silver;
  }

  .name-ok-btn {
    background: $silver;
    color: $doveGray;
  }

}
