

.prices {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid $mineShaft;
	border-bottom: 1px solid $mineShaft;
}

.value {}

.ask,
.bid,
.spread {
	width: 100%;
	display: flex;
	padding: 10px 0;
	flex-direction: column;
	justify-content: space-between;

    .value {
        color: $white;
        text-align: center;
        margin-bottom: 3px;
    }

    .text {
        color: $gray;
        font-size: 12px;
        text-align: center;
    }
}


.bid,
.ask {
	flex-grow: 2;
	position: relative;

    .value {
        font-size: 18px;
    }

    .arrow {
        display: flex;

        &.negative {
            transform: rotate(180deg);

            svg path {
                fill: $scarlet;
            }
        }

        &.positive svg path {
            fill: $salem;
        }
    }
}


.spread {
	flex-grow: 1;
	border-left: 1px solid $mineShaft;
	border-right: 1px solid $mineShaft;

    .value {
        font-size: 16px;
    }
}

.bid__arrow {
	position: absolute;
	top: 15px;
	left: 10px;
}

.ask__arrow {
	position: absolute;
	top: 15px;
	right: 10px;
}



:global(._light-theme) {
    .prices {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .ask,
    .bid,
    .spread {

        .value {
            color: $tundora;
        }

        .text {
            color: $doveGray;
        }
    }

    .spread {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

}
