.news-list-group {
  display: block;
}

.news-list-group-header {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px $mineShaftDark;
  font-size: 16px;
  font-weight: 700;
  color: $gray;
  margin-left: 10px;
}

.news-list-item {
  display: flex;
  line-height: 26px;
  padding: 7px 0;
  cursor: pointer;
  border-bottom: solid 1px $mineShaftDark;
  color: $gray;

  &:hover, &.selected {
    background-color: $widgetTitleColor;
    color: $white;
  }
}

.news-list-item-header {
  font-size: 16px;
  display: flex;
  overflow: hidden;
}

.news-list-item-header-time {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px;
}

.news-list-item-header-text {
  display: block;
  text-transform: uppercase;
  margin-right: 20px;
}

.news-full-item {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
}

.news-full-date {
  font-size: 14px;
  color: $gray;
}

.news-full-header {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 25px 0;
  text-transform: capitalize;
  color: $white;
}

.news-full-content {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: $white;
}

:global(._light-theme) {
  .filters {
    border-bottom: solid 1px $white;
  }

  .news-list-wrapper {
    border-right: solid 1px $white;
  }

  .news-list-group-header {
    border-bottom: solid 1px $white;
    color: $tundora;
  }

  .news-list-item {
    border-bottom: solid 1px $white;
    color: $tundora;

    &:hover {
      background-color: $alto;
      color: $tundora;
    }

    &.selected {
      background-color: $alto;
      color: $tundora;
    }
  }

  .news-full-date {
    font-size: 14px;
    color: $doveGray;
  }

  .fadeout {
    background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0), rgba(254, 254, 254, 0.8));
  }

  .pager {
    color: $tundora;
    background-color: $seashell;
  }

  .news-dummy-icon {
    color: $tundora;
  }

  .news-dummy-text {
    color: $tundora;
  }

  .news-full-content, .news-full-header {
    color: $tundora;
  }
}
