.auth-form {
  font-family: Lato;
  overflow: auto;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url($backBg) no-repeat center;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;

  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 410px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  margin-bottom: 60px;
}

.logo-img {
  margin: 0 auto;
  width: 100px;
  max-width: 117px;
}

.logo-img img {
  width: 100%;
}

.logo-text {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.logo-subtitle {
  margin-top: 33px;
  height: 32px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.form-text {
  color: white;
  font-size: 16px;
  font-family: Lato;
  margin-bottom: 10px;
}

.logo-img {
  height: 190px;
  background: url($logoLargeUrl) center center no-repeat;
  background-size: contain;
  max-width: 370px;
  width: 100%;
}
