h2 {
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
}

.container {
  button {
    margin-bottom: 10px;
  }
}

.color {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 40px;
  width: 250px;
}

.color-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  border: 1px solid #aaaaaa;

}

.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


:global(._dark-theme) {
  &.container {
    h2 {
      color: #eeeeee;
    }
  }
}
