$border: 1px solid $mineShaft;
$padding: 10px;
$padding_half: 5px;

.popup {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  font-family: Lato;
  justify-content: space-around;
  background-color: rgba($shark, 0.9);
  &.not-portal{
    position: absolute;
  }
}

.header-container {
  background: $mineShaftLight;
  width: 100%;
  height: 32px;
  line-height: 32px;
}


.content {
  background-color: $baseCodeGray;
}

.column {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 0;

  &.direction-column {
    flex-direction: column;
  }

  &.left-border {
    border-left: $border;
  }

  &.right-border {
    border-right: $border;
  }

  &.with-padding {
    padding: $padding;
  }

  &.left-backslash {
    padding-left: $padding_half;
  }

  &.right-backslash {
    padding-right: $padding_half;
  }

  &.half {
    flex-basis: 50%;
  }
}

.row {
  display: flex;
  padding: $padding;
  border-bottom: $border;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

  &.without-border {
    border: none;
  }

  &.without-height-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.without-padding {
    padding: 0;
  }

  &.with-down-backslash {
    margin-bottom: 10px;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.header-text {
  text-align: center;
  flex: 1;
  line-height: 32px;
  color: $white;
}

.background-transparent {
  background-color: transparent!important;
}

:global(._light-theme) {
  .popup {
    background-color: rgba(29, 29, 30, 0.3);
  }

  .row {
    border-color: $white;
  }

  .wrapper {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    background: $white;
  }

  .content {
    background: $seashell;
  }

  .header-text {
    color: $doveGray;
  }
}
