

.switcherButtonsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.switcherButton {
    width: 175px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: $gray;
    border-radius: 8px;
    border: solid 1px $tundora;
    cursor: pointer;
}

.switcherButtonActive {
    color: $vermilion;
    border: solid 1px $vermilion;
}
